@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<ReportTelericPieChartVm, ReportTelericPieChartWidget>

@using Telerik.Blazor;
@using Telerik.Blazor.Components;

<div class="widget-content-report">

	@if (Vm.Report != null && Vm.IsLoadedReportResult)
	{
		@if (Widget.ShowTitle)
		{
			<h3>@Widget.Label</h3>
		}

		<div class="widget-content-report-view">
			<TelerikChart>
				<ChartSeriesItems>
					<ChartSeries Type="ChartSeriesType.Pie"
									 Data="@TagData"
									 VisibleInLegendField="@nameof(ReportPieChartData.ShouldShowInLegend)"
									 Field="@nameof(ReportPieChartData.Count)"
									 CategoryField="@nameof(ReportPieChartData.Label)"
									 ExplodeField="@nameof(ReportPieChartData.Explode)">
						<ChartSeriesLabels Visible="@showPieCharLabel"></ChartSeriesLabels>
					</ChartSeries>
				</ChartSeriesItems>
				<ChartTitle Visible="false" Text="Items per Label"></ChartTitle>
				<ChartLegend Position="ChartLegendPosition.Right"></ChartLegend>
			</TelerikChart>
		</div>

		@if (Widget.ShowFooter)
		{
			<div class="widget-content-report-footer">
				@if (Vm.ReportHasName)
				{
					<div class="widget-content-report-footer-name">@Vm.ReportName</div>
				}
				<div class="widget-content-report-footer-create">Created at @Vm.Report.CreatedAtUTC</div>
			</div>
		}
	}

	@if (Vm.Report == null && Vm.IsLoadedReportResult)
	{
		<div class="widget-missing-report">
			Missing report data!
		</div>
	}

	@if (!Vm.IsLoadedReportResult)
	{
		<div style="position:relative;">
			<div class="loading-bar"></div>
		</div>
	}

</div>

@code {

	private bool showPieCharLabel = true;

	private List<ReportPieChartData> TagData = new List<ReportPieChartData>();

	protected override async Task OnInitializedAsync()
	{
		await Vm.RefreshReportResultData();

		LoadTagData();

		await base.OnInitializedAsync();
	}

	private void LoadTagData()
	{
		if (Vm.Report == null)
			return;

		var labels = Vm.Report.Data.ColumnsDefinitions.Select(it => it.Title).ToList();
		var rowData = Vm.Report.Data.RowsCells.FirstOrDefault().Select(it => Convert.ToUInt16(it.ToString())).ToList();

		for (var i = 0; i < labels.Count; i++)
		{
			TagData.Add(new ReportPieChartData
			{
				Label = labels[i],
				Count = rowData[i]
			});
		}
	}

}
