@namespace Orions.Systems.CrossModules.Components

@inherits BaseBlazorComponent

@if (Settings.Visible)
{
	<div class="separator-line-container @Settings.CssClass " style="justify-content: @GetJustifyContent(); @Settings.Padding.GetInlineStyle() @Settings.Margin.GetInlineStyle()">
		<div class="separator-line" style="@GetSeparatorLineStyles()"></div>
	</div>
}

@code {

	[Parameter]
	public SeparatorConfiguration Settings { get; set; } = new SeparatorConfiguration();

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
	}

	private string GetJustifyContent()
	{
		switch (Settings.Aligment)
		{
			case SeparatorConfiguration.SeparatorAligment.Left:
				return "flex-start";
			case SeparatorConfiguration.SeparatorAligment.Right:
				return "flex-end";
			default:
				return "center";
		}
	}

	private string GetSeparatorLineStyles() {
		return $"height: {Settings.GetHeightInPx()}; background-color: {Settings.Color}; width: {Settings.GetPercentageWidth()}; {Settings.InlineStyles}";
	}
}
