@namespace Orions.Systems.CrossModules.Components
@inherits MetadataReviewBase

	<div class="metadatareview-component">
		@if (Vm.MetadataSetLoadFailed == false)
		{
			<div class="metadatareview-grid">
				@if (Vm.TagsAreBeingLoaded || Vm.HyperTags == null)
				{
					<span>Loading...</span>
				}
				else
				{
					<TagGrid HyperTags="@DataContext.HyperTags.Value" HyperStore="@DataContext.Store" ColumnsNumber="@Vm.ColumnsNumber" DashApiPort="@Vm.DashApiPort" />
				}
			</div>

			@if (this.Vm.HyperTags != null && this.Vm.HyperTags.Value.Any())
			{
				<div class="metadatareview-page-controls">
					<ul class="pagination">

						@{
							var currentPageNumber = this.DataContext.PageNumber.Value;
							var prevPageNumber = this.DataContext.PageNumber - 1;
							var nextPageNumber = this.DataContext.PageNumber + 1;
						}
						@if (prevPageNumber > 0)
						{
							<li class="page-item"><a class="page-link" @onclick="async () => { await Vm.ChangePage(prevPageNumber); }">@prevPageNumber</a></li>
						}
						<li class="page-item active"><a class="page-link" @onclick="async () => { await Vm.ChangePage(currentPageNumber); }">@currentPageNumber</a></li>
						@if (nextPageNumber <= this.DataContext.TotalPages)
						{
							<li class="page-item"><a class="page-link" @onclick="async () => { await Vm.ChangePage(nextPageNumber); }">@nextPageNumber</a></li>
						}
						@if (nextPageNumber == 2)
						{
							<li class="page-item"><a class="page-link" @onclick="async () => { await Vm.ChangePage(3); }">3</a></li>
						}

					</ul>

					<div class="input-group mb-3 page-select">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Page size</label>
						</div>
						<select class="custom-select" id="inputGroupSelect01" value="@Vm.PageSize.Value" @onchange="async (e) => await Vm.ChangePageSize(int.Parse(e.Value as string))">
							@foreach (var pageSizeOption in Vm.PageSizeOptions)
							{
								<option value="@pageSizeOption">@pageSizeOption</option>
							}
						</select>
					</div>

					<div class="go-to-page-control">
						<span>Go to page: </span>
						<input type="number" class="form-control" value="@Vm.PageNumber.Value" @onchange="async (e) => await Vm.ChangePage(int.Parse(e.Value as string))" />
					</div>

					<div class="total-pages">Total pages: @DataContext.TotalPages.Value</div>
					<div class="right-controls">
						<input type="button" class="btn btn-dark form-control" value="Heatmap" @onclick="Vm.ShowHeatmap" />
					</div>
				</div>
				@if (Vm.IsVmShowingHeatmapProp.Value)
				{
					<div class="modal fade show view-popup" tabindex="-1" role="dialog" style="display: block;">
						<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
							<div class="modal-content">
								<div class="modal-body heatmap-img-container">
									<img src="@Vm.HeatmapImgProp.Value" />
								</div>
								<div class="right-controls">
									<input type="button" class="btn btn-dark form-control" value="Close" @onclick="Vm.CloseHeatmap" />
								</div>
							</div>
						</div>
					</div>
				}
			}
			else if (!Vm.TagsAreBeingLoaded && Vm.HyperTags != null)
			{
				<span>No data found</span>
			}
		}
		else
		{
			<span>Cannot load metadataset</span>
		}

	</div>


<style>
    .metadatareview-component .metadatareview-grid {
    }

    .metadatareview-page-controls .pagination {
        margin-right:10px;
        float: left;
    }

        .metadatareview-page-controls .pagination .page-link {
            cursor: pointer;
        }

    .metadatareview-page-controls .page-select {
        width: 155px;
        float: left;
    }

    .metadatareview-page-controls .go-to-page-control {
        float: left;
        margin-left: 20px;
    }

    .metadatareview-page-controls .go-to-page-control input{
        display:inline-block;
        width:auto;
    }

    .metadatareview-page-controls .total-pages {
        float: right;
        margin-left: 20px;
        margin-top: 8px;
    }

	.metadatareview-page-controls .right-controls{
		float:right;
	}

	.metadatareview-component .heatmap-img-container img{
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

</style>

