@namespace Orions.Systems.CrossModules.Components
@inherits MetadataReviewBase

<div class="metadatareview-component">
    <TagGrid HyperTags="@DataContext.HyperTags.Value" HyperStore="@_store" Class="metadatareview-grid" />

    <div class="metadatareview-page-controls">
       <ul class="pagination">

          @{
             var currentPageNumber = this.Vm.PageNumber.Value;
             var prevPageNumber = Math.Max(1, this.Vm.PageNumber - 1);
             var nextPageNumber = this.Vm.PageNumber + 1;
          }

          @for (int pageIndex = prevPageNumber; pageIndex < Math.Min(prevPageNumber + 5, this.Vm.TotalPages); pageIndex++)
          {
             int pIndex = pageIndex;
             @if (pageIndex == currentPageNumber)
				 {
               <li class="page-item active"><a class="page-link" @onclick="async () => await Vm.ChangePage(pIndex)">@pageIndex</a></li>
				 }
              else
				 {
                <li class="page-item"><a class="page-link" @onclick="async () => await Vm.ChangePage(pIndex)">@pageIndex</a></li>
				 }
			 }

          @*@if (prevPageNumber > 0)
       {
          <li class="page-item"><a class="page-link" @onclick="async () => await DataContext.ChangePage(prevPageNumber)">@prevPageNumber</a></li>
       }
       <li class="page-item active"><a class="page-link" @onclick="async () => await DataContext.ChangePage(currentPageNumber)">@currentPageNumber</a></li>
       @if (nextPageNumber <= this.Vm.TotalPages)
       {
          <li class="page-item"><a class="page-link" @onclick="async () => await DataContext.ChangePage(nextPageNumber)">@nextPageNumber</a></li>
       }
       @if (nextPageNumber == 2)
      {
          <li class="page-item"><a class="page-link" @onclick="async () => await DataContext.ChangePage(3)">3</a></li>
      }*@

       </ul>

        <div class="input-group mb-3 page-select">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Page size</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" @bind="@DataContext.PageSize.Value">
                <option value="8">8</option>
                <option value="16">16</option>
                <option value="24">24</option>
                <option value="48">48</option>
            </select>
        </div>

        <div class="go-to-page-control">
            <span>Page </span>
            <input type="number" class="form-control" @bind="Vm.PageNumber.Value"/>
        </div>

        <div class="total-pages">Total pages: @DataContext.TotalPages.Value</div>
    </div>


</div>


<style>
    .metadatareview-component .metadatareview-grid {
        min-height: 500px;
    }

    .metadatareview-page-controls .pagination {
        margin-right:10px;
        float: left;
    }

        .metadatareview-page-controls .pagination .page-link {
            cursor: pointer;
        }

    .metadatareview-page-controls .page-select {
        width: 155px;
        float: left;
    }

    .metadatareview-page-controls .go-to-page-control {
        float: left;
        margin-left: 20px;
    }

    .metadatareview-page-controls .go-to-page-control input{
        display:inline-block;
        width:100px;
    }

    .metadatareview-page-controls .total-pages {
        float: right;
        margin-left: 20px;
        margin-top: 8px;
    }

</style>

