@namespace Orions.Systems.CrossModules.Desi.Components.ConfirmationPopup
@inherits ConfirmationPopupBase

<div class="modal-popup-overlay @(IsDisplayed? "is-displayed": "")">
	<div class="popup-window">
		<div class="content">
			<div class="header">@Title</div>
			<div class="question">@Message</div>
		</div>
		<div class="buttons">
			<button class="left-button" @onclick="OnYes">@OkCaption</button>
			@if (!OnlyOkMode)
			{
				<button class="right-button" @onclick="OnNo">@CancelCaption</button>
			}
		</div>
	</div>
</div>
