@namespace Orions.Systems.CrossModules.Components

@inherits TagonomyEditorBase

@using Syncfusion.EJ2.Blazor.Layouts
@using Syncfusion.EJ2.Blazor.Navigations

<div class="tagonomy-editor-container">

	<div class="row list-header">
		<div class="header-actions col-lg-7">
			<a class="btn cmd-create" @onclick="Vm.CreateTagonomy">
				<MatIcon Icon="@MatIconNames.Add_circle"></MatIcon>
				<div class="cmd-label">Create</div>
			</a>

			<a class="btn cmd-delete" @onclick="@(async ev => { await Vm.DeleteTagonomy(); })">
				<MatIcon Icon="@MatIconNames.Delete_outline"></MatIcon>
				<div class="cmd-label">Delete</div>
			</a>

			<a class="btn cmd-up" @onclick="@(async ev => { await Vm.TagonomyUp(); })">
				<MatIcon Icon="@MatIconNames.Arrow_upward"></MatIcon>
				<div class="cmd-label">Up</div>
			</a>

			<a class="btn cmd-down" @onclick="@(async ev => { await Vm.TagonomyDown(); })">
				<MatIcon Icon="@MatIconNames.Arrow_downward"></MatIcon>
				<div class="cmd-label">Down</div>
			</a>
			<a class="btn cmd-refresh" @onclick="@(async ev => { await Vm.Refresh(); })">
				<MatIcon Icon="@MatIconNames.Refresh"></MatIcon>
				<div class="cmd-label">Refresh</div>
			</a>
		</div>
		<div class="header-actions col-lg-5 right">
			<a class="btn cmd-vizlist" @onclick="Vm.ShowVizListAsync">
				<MatIcon Icon="@MatIconNames.Vertical_split"></MatIcon>
				<div class="cmd-label">Viz Lizt</div>
			</a>
		</div>
	</div>

	@if (Vm.IsLoadedData)
	{

		<EjsSplitter Width="100%" Orientation="Syncfusion.EJ2.Blazor.Layouts.Orientation.Horizontal" SeparatorSize="7" CssClass="tagonomy-splitter">
			<SplitterPanes>
				<SplitterPane Size="30%" Min="20%" Max="70%">
					<ContentTemplate>
						<EjsTreeView TValue="TagonomyNodeNavigationItem"
										 AllowDragAndDrop="true">
							<TreeViewFieldsSettings TValue="TagonomyNodeNavigationItem"
															Id="Id"
															DataSource="@Vm.TagonomyNav"
															Text="Name"
															ParentID="ParentId"
															HasChildren="HasSubFolders"
															Selected="Selected"
															Expanded="Expanded">
							</TreeViewFieldsSettings>
							<TreeViewEvents TValue="TagonomyNodeNavigationItem" NodeSelected="@OnSelect"></TreeViewEvents>
						</EjsTreeView>
					</ContentTemplate>
				</SplitterPane>
				<SplitterPane Size="70%" Collapsible="true">
					<ContentTemplate>
						<TagonomyNodeControl HyperStore="@Vm.HyperStore" SelectedTagonomyNode="@Vm.SelectedTagonomyNode"></TagonomyNodeControl>
					</ContentTemplate>
				</SplitterPane>
			</SplitterPanes>
		</EjsSplitter>
	}


	@if (!Vm.IsLoadedData)
	{
		<Loader Settings="@LoaderSetting"></Loader>
	}

</div>



@if (Vm.IsShowCreateNodeModal)
{
	<div class="dashboard-modal modal fade show" id="createNodeModal" tabindex="-1" role="dialog" style="display: block;">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header dashboard-modal-widget-header">
					<h5 class="modal-title">Create Tagonomy Node</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close" @onclick="(e => { Vm.IsShowCreateNodeModal = false; })">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card">
						<div class="card-body">
							<div class="form-group">
								<label for="dashboardName">Name</label>
								<input type="text" class="form-control" id="dashboardName" @bind="@Vm.CreatedTagonomyNodeName" />
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="(e => { Vm.IsShowCreateNodeModal = false; })">Close</button>
					<button type="button" class="btn btn-primary" @onclick="(async e => { await Vm.CreateTagonomyNodeAsync(); })">Create</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-backdrop fade show"></div>
}

