@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<ReportGridVm, ReportGridWidget>

@using Orions.Infrastructure.Reporting

<div class="widget-content-report @Widget.Class">

	@if (Vm.Report != null && Vm.ReportChartData != null && Vm.IsLoadedReportResult)
	{
		var rowIndex = 0;

		<TitleCard Settings="Widget.TitleSettings"></TitleCard>

		<div class="widget-content-report-view">

			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th scope="col"></th>
							@foreach (var category in Vm.ReportChartData.Categories)
							{
								<th scope="col">@category</th>
							}
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Vm.ReportChartData.Series.FirstOrDefault().Data.Count(); i++)
						{
							<tr>

								@*@if ( Vm.ReportChartData.Series.FirstOrDefault()?.Data[0].StartTime.HasValue)
									{
										<td>@Vm.ReportChartData.Series.FirstOrDefault()?.Data[0].Label.StartTime?.ToString("dd MMM HH:mm")</td>
									}
									else
									{*@
								<td>@Vm.ReportChartData.Series.FirstOrDefault().Data[0].Label</td>
								@*							}*@

								@foreach (var item in Vm.ReportChartData.Series)
								{

									<td>@item.Data[i].Value</td>

								}
							</tr>
						}
					</tbody>
				</table>
			</div>

		</div>
		@if (Widget.ShowFooter)
		{
			<div class="widget-content-report-footer">
				@if (Vm.ReportHasName)
				{
					<div class="widget-content-report-footer-name">@Vm.ReportName</div>
				}
				<div class="widget-content-report-footer-create">Created at @Vm.Report.CreatedAtUTC</div>
			</div>
		}
	}

	@if (Vm.Report == null && Vm.IsLoadedReportResult)
	{
		<div class="widget-missing-report">
			Missing report data!
		</div>
	}

	@if (!Vm.IsLoadedReportResult)
	{
		<Loader Settings="@Widget.LoaderSettings"></Loader>
	}

</div>

@code {

	protected override async Task OnInitializedAsync()
	{
		await Vm.RefreshReportResultData();

		await base.OnInitializedAsync();
	}
}
