@layout EmptyLayout
@page "/tagging"
@inherits TaggingPageBase
@namespace Orions.Systems.CrossModules.Desi.Pages
@using Orions.Systems.CrossModules.Desi.Components.TabSet;
@using Orions.Systems.CrossModules.Desi.Components.TaggingSurface;
@using Orions.Systems.CrossModules.Desi.Components.TaggingSurface.Model;
@using Orions.Systems.CrossModules.Desi.Components.VizList;
@using Orions.Systems.CrossModules.Desi.Components.TaskNavigation;
@using Orions.Systems.CrossModules.Desi.Components.TagPreview;

@if (this.Vm != null)
{
	<div class="tagging-page-container">
		<div class="mission-title">
			@(this.Vm.CurrentTask != null ? this.Vm.CurrentTask.ExecutionTimeLeft.ToString() : " ")
		</div>
		<div class="bottom-row">
			<div class="left-column">
				<div class="top-area">
					<div class="mission-description">
						<div class="mission-title">
							@this.Vm.Mission.TitleShorten
						</div>
						<div class="mission-status">
							@this.Vm.Mission.TitleDetails
						</div>
						<div class="mission-run">
							Started at: @this.Vm.Mission.MissionRunStartUTC.ToString()
						</div>
					</div>
					<div class="tabs-control">
						<TabSet>
							<Tab Active="true" Title="Tags">
								<TagsPreviewControl Vm="@this.Vm" ActionDispatcher="_taggingSystem.ActionDispatcher"/>
							</Tab>
							<Tab Title="Tracking">Tracking content</Tab>
							<Tab Title="Segmentation">Segmentation content</Tab>
						</TabSet>
					</div>
				</div>
				<button class="exit-button" @onclick="() => this.Vm.CompleteProcessingCommand.Execute(null)">Save & Exit</button>
			</div>
			<div class="right-column">
				<TaskNavigationWidget ActionDispatcher="this._taggingSystem.ActionDispatcher" Data="this.Vm.TasksData">

				</TaskNavigationWidget>

			<TaggingSurface @ref="TaggingSurface" 
							TagsStore="@_taggingSystem.TagsStore" 
							MediaDataStore="@_taggingSystem.MediaDataStore"
							ActionDispatcher="@_taggingSystem.ActionDispatcher">
				@if (this.Vm.TagonomyExecutionData != null)
				{
					<VizListComponent Data="this.Vm.TagonomyExecutionData"
									  ActionDispatcher="this._taggingSystem.ActionDispatcher"
									  CssClass="vizlist-positioned">
					</VizListComponent>
				}
			</TaggingSurface>
				
			</div>
		</div>
	</div>
}

<style>
	.vizlist-positioned {
		position: absolute;
		z-index:100;
	}
</style>
