@namespace Orions.Systems.CrossModules.Desi.Components.TaggingSurface
@using Orions.Common;
@inherits VideoPlayerBase

<div class="tagging-video-player-container">
	<FrameCounter 
				  CurrentFrame="@CurrentFrameIndex"
				  CurrentPosition="CurrentPosition"
				  TotalFrames="TotalFrames"
				  CurrentPositionHyperId="MediaInstance.CurrentPosition"
				  OnGoToPreviousFrame="GoToPreviousFrame"
				  OnGoToNextFrame="GoToNextFrame"
				  />
	<div @onclick="() => this.Pause()" class="video-player">
		<video id="@_videoElementId">
			<p>
				To view this video please enable JavaScript, and consider upgrading to a
				web browser that
				<a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			</p>
		</video>
	</div>
	<VideoPlaybackControl
						  OnPlay="this.Play"
						  OnPause="this.Pause"
						  OnPositionChanged="this.OnPlaybackControlPositionChanged"
						  OnVolumeLevelChanged="this.ChangeVolumeLevel"
						  OnPlaybackSpeedChanged="this.ChangePlaybackSpeed"
						  PlaybackSpeed="this.PlaybackSpeed"
						  IsPlaying="!this.Paused"
						  CurrentTimePosition="this.CurrentPosition"
						  TotalDuration="this.TotalDuration"
						  VolumeLevel="VolumeLevel"
						  TimelineMarkers="TimelineMarkers"/>
	@if (CurrentFrameIsLoading || IsVideoLoading || IsVideoBuffering)
	{
		var bufferingClass = IsVideoBuffering ? "transparent" : "";
		<div class="video-player-overlay @bufferingClass">
			<div class="overlay-message">
			@if (CurrentFrameIsLoading)
			{
				@("Loading frame image...")
			}
			else if (IsVideoLoading || IsVideoBuffering)
			{
				@("Buffering video...")
			}
			</div>
			<DotsLoader CssClass="video-overlay-dots-loader"/>
		</div>
	}
</div>
