<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Timeline</title>

    @await Html.PartialAsync("_favicons")

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="~/lib/animate.css/animate.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/highlightjs/styles/default.min.css" />
        <link rel="stylesheet" href="~/lib/icheck/skins/all.css" />
        <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/grid.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/animate.css/animate.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/lib/toastr/toastr.min.css" />
        <link rel="stylesheet" href="~/lib/highlightjs/styles/default.min.css" />
        <link rel="stylesheet" href="~/lib/icheck/skins/all.css" />
        <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/custom.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/grid.min.css" asp-append-version="true" />
    </environment>

    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.mobile.all.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2019.2.619/styles/kendo.material.min.css" rel="stylesheet" />

    @RenderSection("styles", required: false)
    @RenderSection("scriptsHead", required: false)
</head>
<body>
    @Html.AntiForgeryToken()
    <div id="wrapper" class="hidden">
        <div id="page-wrapper" class="gray-bg">
            @RenderBody()
        </div>
    </div>
    <div id='process-spinner'></div>

    @*@await Html.PartialAsync("_message")*@

    <script src="_framework/blazor.server.js"></script>

    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.2.619/js/kendo.aspnetmvc.min.js"></script>

    <environment include="Development">
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/lib/metisMenu/metisMenu.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
        <script src="~/js/Popper/popper.min.js"></script>
        <script src="~/js/inspinia.js"></script>
        <script src="~/lib/vanilla-lazyload/lazyload.js"></script>
        <script src="~/js/common/workbench.js" asp-append-version="true"></script>
        <script src="~/js/common/common.js" asp-append-version="true"></script>
        <script src="~/js/common/gridPaging.js" asp-append-version="true"></script>
        <script src="~/js/common/gridResize.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/metisMenu/metisMenu.min.js"></script>
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/lib/toastr/toastr.min.js"></script>
        <script src="~/js/Popper/popper.min.js"></script>
        <script src="~/js/inspinia.js"></script>
        <script src="~/lib/vanilla-lazyload/lazyload.min.js"></script>
        <script src="~/js/common/workbench.js" asp-append-version="true"></script>
        <script src="~/js/common/common.js" asp-append-version="true"></script>
        <script src="~/js/common/gridPaging.js" asp-append-version="true"></script>
        <script src="~/js/common/gridResize.js" asp-append-version="true"></script>
    </environment>


    <script src="~/js/jwplayer/8.4.2/jwplayer.js"></script>
    <script src="~/js/jwplayer/8.4.2/provider.hlsjs.js"></script>
    <script src="~/js/jwplayer/8.4.2/provider.html5.js"></script>
    <script type="text/javascript">jwplayer.key = "0cEcLfyR+RBLPh2z3KkWfFzX1U/w/2AtglS1xoT4xl8=";</script>

    <script>
        var element = document.getElementById("wrapper");
        element.classList.remove("hidden");
    </script>

    @Html.Kendo().DeferredScripts()

    @RenderSection("scripts", required: false)
</body>
</html>
