@namespace Orions.Systems.CrossModules.Components

<div class="progress-line">

	<div class="progress-line-icon-container">
		@if (!string.IsNullOrWhiteSpace(IconUrl))
		{
			<span class="icon"><img src="@IconUrl"></span>
		}

		@if (IconSource != null)
		{
			<span class="icon"><img src="@ImageBase64Url"></span>
		}
	</div>

	@if (IsShowTitle)
	{
		<div class="stat-title">
			@Source?.Title
		</div>
	}

	<div class="stat-container">
		<a class="stat-container-link" @onclick="OnClikProgress">
			<span class="stat-progress" style="width: @(Progress)%;"></span>

			@if (IsShowPercentage)
			{

				<span class="stat-value">@PercentageString</span>
			}
			else
			{
				<span class="stat-value">@Value</span>
			}
		</a>
	</div>


</div>

@code {

	[Parameter]
	public CardItem Source { get; set; }

	[Parameter]
	public byte[] IconSource { get; set; }

	[Parameter]
	public string IconUrl { get; set; }

	[Parameter]
	public bool IsShowPercentage { get; set; }

	[Parameter]
	public bool IsShowTitle { get; set; }

	[Parameter]
	public int PercentagePrecision { get; set; } = 2;

	[Parameter]
	public EventCallback<CardItem> OnClickProgress { get; set; }

	private async Task OnClikProgress() 
	{
		await OnClickProgress.InvokeAsync(Source);
	}

	public int Value
	{
		get
		{
			if (Source == null)
				return 0;

			return Source.IntValue.GetValueOrDefault();
		}
	}

	private int Progress
	{
		get
		{
			if (Source == null)
				return 0;

			return Convert.ToInt32(Source.Percentage);
		}
	}

	private string PercentageString
	{
		get
		{
			if (Source == null) return string.Empty;

			var pr = Math.Round(Source.Percentage, PercentagePrecision);
			return $"{pr} %";
		}
	}

	public string ImageBase64Url
	{
		get
		{
			if (IconSource != null)
			{
				return $"data:image/jpg;base64, {Convert.ToBase64String(IconSource)}";
			}

			return null;
		}
	}

}
