@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<BodyTypeVm, BodyTypeWidget>

<div class="widget-content-report">
	
	<TitleCard Settings="Widget.TitleSettings"></TitleCard>

<div class="widget-content-report-view">
	<div class="row widget-content-report-body-status">
		<div class="col-lg-12">

			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Anorexic">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" 
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
						<g id="Anorexis">
							<path class="st0" d="M91.3,37.1c0,10.2-8.2,18.4-18.4,18.4c-10.2,0-18.4-8.2-18.4-18.4c0-10.2,8.2-18.4,18.4-18.4
		C83.1,18.7,91.3,26.9,91.3,37.1z" />
							<path class="st1" d="M72.9,69.1c-2.8,0-5,2.2-5,5v50.2v14.1h10.1v-14.1V74.2C77.9,71.4,75.7,69.1,72.9,69.1z" />
						</g>
			</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.Anorexic" Value="@Widget.Data.Anorexic"></ProgressLine>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Slim">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
					<g id="Slim">
					<path class="st0" d="M92.4,36.5c0,10-8.1,18.1-18.1,18.1c-10,0-18.1-8.1-18.1-18.1c0-10,8.1-18.1,18.1-18.1
		C84.3,18.4,92.4,26.5,92.4,36.5z" />

					<path class="st1" d="M74.3,68.1c-5.5,0-9.9,4.4-9.9,9.9v44.5v16h19.8v-16V78C84.2,72.5,79.8,68.1,74.3,68.1z" />

						</g>
					</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.Slim" Value="@Widget.Data.Slim"></ProgressLine>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Slim Fit">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
						<g id="SlimFit">
							<path class="st0" d="M88.3,36.9c0,10.1-8.2,18.3-18.3,18.3C60,55.2,51.8,47,51.8,36.9c0-10.1,8.2-18.3,18.3-18.3 C80.2,18.7,88.3,26.8,88.3,36.9z" />
							<path class="st1" d="M70.1,68.8c-8.3,0-15,6.7-15,15v39.8v15H85v-15V83.7C85,75.5,78.3,68.8,70.1,68.8z" />
						</g>
					</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.SlimFit" Value="@Widget.Data.SlimFit"></ProgressLine>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Average">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
							<g id="Average">
								<path class="st0" d="M92.2,36.9c0,10.1-8.2,18.2-18.2,18.2c-10.1,0-18.2-8.2-18.2-18.2c0-10.1,8.2-18.2,18.2-18.2
									C84,18.7,92.2,26.8,92.2,36.9z"/>
								<path class="st1" d="M73.9,68.7c-11,0-19.9,8.9-19.9,19.9v34.8v15.1h39.9v-15.1V88.6C93.9,77.6,84.9,68.7,73.9,68.7z"/>
							</g>
						</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.Average" Value="@Widget.Data.Average"></ProgressLine>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Average Fit">
					<svg class="widget-content-report-body-status-svg" version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
						<g id="AverageFit">
							<path class="st0" d="M93.3,36.6c0,10.1-8.2,18.3-18.3,18.3c-10.1,0-18.3-8.2-18.3-18.3c0-10.1,8.2-18.3,18.3-18.3
								C85.1,18.4,93.3,26.5,93.3,36.6z"/>
							<path class="st1" d="M75,69.5c-13.8,0-25,11.2-25,25v28.8v15.2H100v-15.2V94.4C100,80.7,88.8,69.5,75,69.5z"/>
						</g>
					</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.AverageFit" Value="@Widget.Data.AverageFit"></ProgressLine>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Mild Overweight">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
						<g id="MildOverweight">
							<path class="st0" d="M92.3,36.7c0,10.1-8.2,18.3-18.3,18.3c-10.1,0-18.3-8.2-18.3-18.3c0-10.1,8.2-18.3,18.3-18.3
								C84.1,18.4,92.3,26.6,92.3,36.7z"/>
							<path class="st1" d="M73.9,69.7c-16.6,0-30.1,13.5-30.1,30.1v23.9l-0.3,14.8h60.2l0.3-14.8V99.8C104,83.2,90.5,69.7,73.9,69.7z"/>
						</g>
					</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.MildOverweight" Value="@Widget.Data.MildOverweight"></ProgressLine>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Overweight">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
						<g id="Overweight">
							<path class="st0" d="M93.3,36.8c0,10.1-8.2,18.3-18.3,18.3c-10.1,0-18.3-8.2-18.3-18.3c0-10.1,8.2-18.3,18.3-18.3
								C85.1,18.5,93.3,26.7,93.3,36.8z"/>
							<path class="st1" d="M75,68.8c-22.1,0-40,17.9-40,40v14.9v14.8H115v-14.8v-14.9C115,86.7,97.1,68.8,75,68.8z"/>
						</g>
					</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.Overweight" Value="@Widget.Data.Overweight"></ProgressLine>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-2 widget-content-report-body-status-icon" title="Very Overweight">
					<svg class="widget-content-report-body-status-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
						  viewBox="0 0 150 150" style="enable-background:new 0 0 150 150;" xml:space="preserve">
						<g id="VeryOverweight">
							<path class="st0" d="M93.7,36.5c0,10-8.1,18.2-18.2,18.2c-10,0-18.2-8.1-18.2-18.2c0-10,8.1-18.2,18.2-18.2
								C85.6,18.4,93.7,26.5,93.7,36.5z"/>
							<path class="st1" d="M75.5,69.2c-27.4,0-49.7,22.2-49.7,49.7v3.8v15.7h99.4v-15.7v-3.8C125.2,91.5,103,69.2,75.5,69.2z"/>
						</g>
					</svg>
				</div>
				<div class="col-sm-10 widget-content-report-body-status-progress">
					<ProgressLine Progress="@Widget.Data.VeryOverweight" Value="@Widget.Data.VeryOverweight"></ProgressLine>
				</div>
			</div>

		</div>
	</div>
</div>
</div>

@code {
}


<style type="text/css">

	.st0{fill:none;stroke:#5aafff;stroke-width:7;stroke-miterlimit:10;}
	.st1{fill:#5aafff;}
	
	.widget-content-report-body-status-icon {
		 /*transform: scale(0.9);*/
		 text-align: center;
	}

	.widget-content-report-body-status-progress {
		 padding: 18px;
		 margin: auto;
	}

	.progress-line .stat-progress {
		background-color: #bcbec4;
	}

	.widget-content-report-body-status-svg {
		 width: 65px;
		 padding: 10px 10px;
	}
</style>


