@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<SimpleSVGMapVm, SimpleSVGMapWidget>

<div class="widget-content-report">

	@if (Widget.ShowTitle)
	{
		<h3>@Widget.Label</h3>
	}

	<SVGMap @ref="map" Zone="@Widget.Zone" OnClickZone="@OnSelectZone"></SVGMap>

	<div style="text-align:center;">@SelectZoneMsg</div>

</div>

@code {
	private SVGMap map;
	private string SelectZoneMsg;

	private async Task OnSelectZone(string zone) {
		SelectZoneMsg = $"Selected zone is {zone}";

		await map.UpdateZone(Widget.Zone, zone);
		Widget.Zone = zone;
		StateHasChanged();
	}
}

<style>

	.st20, .st21, .st22 {
		fill: @(string.IsNullOrWhiteSpace(Widget.ZoneColor) ? "#cc0000" : Widget.ZoneColor ); 
	}

	.hide-zone {
		fill: #159c7000;
	}

	.zone-over{
		fill: @(string.IsNullOrWhiteSpace(Widget.ZoneColorOver) ? "#13513A" : Widget.ZoneColorOver ) !important;
	}

	.st0 {
		fill: #4f4e4e !important;
	}

	.st12 {
		fill: #3f3e3e !important;
		stroke: #cacaca;
		stroke-width: 1.1px !important;
		stroke-miterlimit: 10;
	}
</style>