@namespace Orions.Systems.CrossModules.Components

@inherits DashboardComponent<TransportationStatsVm, TransportationStatsWidget>

	<div class="widget-content-report">
		@if (Widget.ShowTitle)
		{
			<h3>@Widget.Label</h3>
		}
		<div class="widget-content-report-transportation">
			<div class="row widget-content-report-transportation-container">
				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<?xml version="1.0" encoding="utf-8" ?>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="sadan">
								<path class="st0" d="M40.6,67.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
									C38.9,63.6,40.6,65.3,40.6,67.4z"/>
								<path class="st0" d="M129.3,67.4c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
									C127.6,63.6,129.3,65.3,129.3,67.4z"/>
								<path class="st0" d="M125.5,82.1c-8.1,0-14.7-6.6-14.7-14.7c0-8.1,6.6-14.7,14.7-14.7c8.1,0,14.7,6.6,14.7,14.7
									C140.2,75.5,133.6,82.1,125.5,82.1z M125.5,56.7c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7c5.9,0,10.7-4.8,10.7-10.7
									C136.2,61.5,131.4,56.7,125.5,56.7z"/>
								<path class="st0" d="M36.8,82.1c-8.1,0-14.7-6.6-14.7-14.7c0-8.1,6.6-14.7,14.7-14.7c8.1,0,14.7,6.6,14.7,14.7
									C51.5,75.5,44.9,82.1,36.8,82.1z M36.8,56.7c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7c5.9,0,10.7-4.8,10.7-10.7
									C47.6,61.5,42.8,56.7,36.8,56.7z"/>
								<path class="st0" d="M50.9,71.7h60.6c-0.4-1.3-0.6-2.6-0.6-4H51.5C51.5,69.1,51.3,70.4,50.9,71.7z"/>
								<path class="st0" d="M151.5,51.3l-0.3-0.3c-0.5-0.4-0.7-1-0.8-1.5l-0.7-2.6c-0.8-3-2.1-4.9-4.1-6c-1.1-0.6-2.3-0.9-3.5-1.1
									L117.8,37c-1.1-0.3-4.2-3.2-6.6-5.6c-6.4-6.1-15.2-14.3-23.6-14.3H47.9c-2.5,0-4.8,0.9-6.5,2.6l-18,17.1c-0.8,0.1-1.5,0.2-2.3,0.4
									l-5,1.1c-0.3,0.1-0.5,0.1-0.8,0.1c-0.8,0.1-1.7,0.3-2.7,0.8c-1.6,0.9-2.6,2.7-2.6,4.5l0,7.9c0,1.6-1.3,3.1-2.6,4.6
									c-1.6,1.9-3.4,4-3.4,6.8c0,4.4,0.6,8.4,8,8.4h10.8c-0.4-1.3-0.6-2.6-0.6-4H12.1C8.1,67.7,8,67,8,63.2c0-1.4,1.1-2.7,2.5-4.3
									c1.7-1.9,3.6-4.2,3.6-7.2l0-7.9c0-0.5,0.2-0.9,0.6-1.1c0.3-0.2,0.8-0.2,1.3-0.3c0.4-0.1,0.7-0.1,1.1-0.2l5-1.1
									c1.8-0.4,3.6-0.6,5.4-0.6h86.3l27.9,3.3c0.7,0.1,1.4,0.3,2.1,0.7c0.9,0.5,1.6,1.6,2.1,3.5l0.7,2.6c0.4,1.4,1.1,2.6,2,3.4l0.3,0.3
									c0.8,0.7,2.3,2,2.3,2.7v7c0,1,0,3-0.8,3.4c-0.4,0.2-1,0.3-1.5,0.3h-8.8c0,1.4-0.2,2.7-0.6,4h9.4c1.1,0,2.2-0.3,3.2-0.7
									c3-1.4,3-5,3-7v-7C155.2,54.5,153.2,52.8,151.5,51.3z M29.5,36.5l14.7-14c1-1,2.4-1.5,3.8-1.5h39.7c6.8,0,14.9,7.7,20.8,13.3
									c0.9,0.8,1.6,1.5,2.4,2.2H29.5z"/>
								<path class="st0" d="M46.9,36.5V21.1c-1,0.2-2,0.7-2.8,1.4l-1.2,1.1v12.8H46.9z"/>
								<polygon class="st0" points="76.5,36.5 73,21 69,21 72.4,36.5 	"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Sedan</div>
				</div>

				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="hatchback">
								<path class="st0" d="M42,67.6c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8C40.3,63.9,42,65.6,42,67.6z"/>
								<path class="st0" d="M130.6,67.6c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
									C128.9,63.9,130.6,65.6,130.6,67.6z"/>
								<path class="st0" d="M38.2,82.3c-8.1,0-14.7-6.6-14.7-14.7c0-8.1,6.6-14.7,14.7-14.7c8.1,0,14.7,6.6,14.7,14.7
									C52.9,75.7,46.3,82.3,38.2,82.3z M38.2,56.9c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7c5.9,0,10.7-4.8,10.7-10.7
									C48.9,61.7,44.1,56.9,38.2,56.9z"/>
								<path class="st0" d="M112.2,67.9H52.9c0,1.4-0.2,2.7-0.6,4h60.6C112.4,70.7,112.2,69.3,112.2,67.9z"/>
								<path class="st0" d="M126.9,82.3c-8.1,0-14.7-6.6-14.7-14.7c0-8.1,6.6-14.7,14.7-14.7c8.1,0,14.7,6.6,14.7,14.7
									C141.5,75.7,135,82.3,126.9,82.3z M126.9,56.9c-5.9,0-10.7,4.8-10.7,10.7c0,5.9,4.8,10.7,10.7,10.7c5.9,0,10.7-4.8,10.7-10.7
									C137.6,61.7,132.8,56.9,126.9,56.9z"/>
								<path class="st0" d="M152.9,51.6l-0.3-0.3c-0.5-0.4-0.7-1-0.8-1.5l-0.7-2.6c-0.8-3-2.1-4.9-4.1-6c-1.1-0.6-2.3-0.9-3.5-1.1
									l-24.3-2.9c-1.2-0.3-5.5-3.3-9-5.7c-8.5-6-20.1-14.2-28.3-14.2c-49.3,0-55.5,4.9-57.6,6.5c-6.5,5.1-12,17.2-12.5,18.4
									c-0.6,1.1-4.6,8.6-4.6,13.5l0,8.9c0,4.8,1,7.2,6.7,7.2h10.3c-0.4-1.3-0.6-2.6-0.6-4h-9.7c-2.7,0-2.7,0-2.7-3.2l0-8.9
									c0-3.4,3-9.6,4.1-11.7l0.1-0.1c0.2-0.5,0.6-1.1,0.9-1.7c0.5-1,1.6-1.6,2.7-1.6h96.1l3.5,0.4c0.1,0,0.2,0,0.3,0L143,44
									c0.7,0.1,1.4,0.3,2.1,0.7c0.9,0.5,1.6,1.6,2.1,3.5l0.7,2.6c0.4,1.4,1.1,2.6,2,3.4l0.3,0.3c0.8,0.7,2.3,2,2.3,2.7v7c0,1,0,3-0.8,3.4
									c-0.4,0.2-1,0.3-1.5,0.3h-8.8c0,1.4-0.2,2.7-0.6,4h9.4c1.1,0,2.2-0.3,3.2-0.7c3-1.4,3-5,3-7v-7C156.6,54.8,154.5,53,152.9,51.6z
									 M19.1,36.7c2.1-3.6,4.8-7.6,7.7-9.8c1.5-1.1,5.3-2.7,15.3-3.9l-5,13.7L19.1,36.7z M41.2,36.7l5.2-14.2c5.8-0.5,13.3-1,23-1.2
									l3.5,15.4L41.2,36.7z M76.9,36.8l-3.5-15.4c2.7,0,5.5-0.1,8.5-0.1c6.9,0,17.9,7.8,26,13.4c1.1,0.7,2,1.4,2.9,2L76.9,36.8z"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Hatchback</div>
				</div>

				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="convertable">
								<path class="st0" d="M110.4,39.8c-0.4,0-0.8-0.1-1.2-0.4L82.6,20.7c-0.9-0.6-1.1-1.9-0.5-2.8c0.6-0.9,1.9-1.1,2.8-0.5l26.6,18.7
									c0.9,0.6,1.1,1.9,0.5,2.8C111.6,39.5,111,39.8,110.4,39.8z"/>
								<path class="st0" d="M37,67.1c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8C35.3,63.3,37,65,37,67.1z"/>
								<path class="st0" d="M126.1,67.1c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
									C124.3,63.3,126.1,65,126.1,67.1z"/>
								<path class="st0" d="M33.2,82c-8.2,0-14.9-6.7-14.9-14.9c0-8.2,6.7-14.9,14.9-14.9c8.2,0,14.9,6.7,14.9,14.9
									C48.1,75.3,41.4,82,33.2,82z M33.2,56.2c-6,0-10.9,4.9-10.9,10.9c0,6,4.9,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9
									C44.1,61.1,39.2,56.2,33.2,56.2z"/>
								<path class="st0" d="M122.2,82c-8.2,0-14.9-6.7-14.9-14.9c0-8.2,6.7-14.9,14.9-14.9s14.9,6.7,14.9,14.9
									C137.1,75.3,130.5,82,122.2,82z M122.2,56.2c-6,0-10.9,4.9-10.9,10.9c0,6,4.9,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9
									C133.1,61.1,128.2,56.2,122.2,56.2z"/>
								<path class="st0" d="M122.2,82c-8.2,0-14.9-6.7-14.9-14.9c0-8.2,6.7-14.9,14.9-14.9s14.9,6.7,14.9,14.9
									C137.1,75.3,130.5,82,122.2,82z M122.2,56.2c-6,0-10.9,4.9-10.9,10.9c0,6,4.9,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9
									C133.1,61.1,128.2,56.2,122.2,56.2z"/>
								<path class="st0" d="M107.3,67.4H48.1c0,1.4-0.2,2.8-0.6,4H108C107.6,70.2,107.4,68.8,107.3,67.4z"/>
								<path class="st0" d="M154.5,56.4c-0.1-1.9-1.1-3.7-2.7-4.7c-5.8-3.8-16.5-9.2-20.8-11.4c-1.3-0.7-2.8-1.2-4.3-1.5l-14-2.7
									c-0.8-0.1-1.4-0.2-2-0.2c-1.3,0-2.4,0.3-3.3,0.9c-0.3,0.2-0.7,0.5-1.1,0.8c-1.3,1-2.9,2.1-4.3,2.1H49.9c-0.5,0-0.9-0.1-1.3-0.2
									l-8.2-3c-1.5-0.6-3.2-0.8-4.8-0.6c-5.3,0.5-15.1,1.7-20.2,3.3c-1.8,0.6-3.1,2.1-3.6,4.1l-2.4,9.9c-0.1,0.5-0.3,1-0.5,1.4l-2.6,4.9
									c-1.1,2-1.3,3.8-0.7,5.3c0.8,2.3,2.6,4,3.9,5.1c1.3,1,2.9,1.5,4.9,1.5H19c-0.4-1.3-0.6-2.6-0.6-4h-4c-0.7,0-1.7-0.1-2.4-0.6
									c-0.9-0.7-2.1-1.8-2.6-3.2c-0.2-0.6,0.2-1.4,0.5-2.1l2.6-4.9c0.4-0.7,0.7-1.5,0.9-2.3l2.4-9.9c0.1-0.5,0.4-1.1,1-1.3
									c4.9-1.6,15.1-2.7,19.3-3.2c0.2,0,0.4,0,0.7,0c0.8,0,1.6,0.1,2.4,0.4l8.2,3c0.9,0.3,1.8,0.5,2.7,0.5h52.2c2.8,0,5.1-1.7,6.7-2.9
									c0.3-0.2,0.6-0.5,0.9-0.7c0.4-0.3,1.1-0.3,2.2-0.1l14,2.7c1.1,0.2,2.2,0.6,3.2,1.1c4.2,2.1,14.7,7.5,20.4,11.2
									c0.5,0.3,0.8,0.9,0.9,1.6l0.3,5.3c0,0.7-0.2,1.3-0.7,1.8l-3.2,2.9c-0.6,0.5-1.4,0.8-2.1,0.8h-7.6c0,1.4-0.2,2.8-0.6,4h8.2
									c1.8,0,3.5-0.7,4.9-1.9l3.2-2.9c1.4-1.3,2.1-3.1,2-5L154.5,56.4z"/>
								<path class="st0" d="M48.4,39.5l0.2,0.1c0.4,0.1,0.9,0.2,1.3,0.2h2.6c0-0.2,0-0.3,0-0.5l-2-8.6c-0.3-1.1-1.3-1.8-2.4-1.5
									c-1.1,0.3-1.8,1.3-1.5,2.4L48.4,39.5z"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Convertable</div>
				</div>

				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="SUV">
								<path class="st0" d="M41.6,73.6c0,2.3-1.9,4.2-4.2,4.2c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2
									C39.7,69.4,41.6,71.3,41.6,73.6z"/>
								<path class="st0" d="M125.9,73.6c0,2.3-1.9,4.2-4.2,4.2c-2.3,0-4.2-1.9-4.2-4.2c0-2.3,1.9-4.2,4.2-4.2
									C124,69.4,125.9,71.3,125.9,73.6z"/>
								<path class="st0" d="M37.4,89.9c-9,0-16.3-7.3-16.3-16.3c0-9,7.3-16.3,16.3-16.3c9,0,16.3,7.3,16.3,16.3
									C53.7,82.5,46.4,89.9,37.4,89.9z M37.4,61.7c-6.6,0-11.9,5.3-11.9,11.9c0,6.6,5.3,11.9,11.9,11.9s11.9-5.3,11.9-11.9
									C49.3,67,44,61.7,37.4,61.7z"/>
								<path class="st0" d="M121.7,89.9c-9,0-16.3-7.3-16.3-16.3c0-9,7.3-16.3,16.3-16.3c9,0,16.3,7.3,16.3,16.3
									C138,82.5,130.7,89.9,121.7,89.9z M121.7,61.7c-6.6,0-11.9,5.3-11.9,11.9c0,6.6,5.3,11.9,11.9,11.9c6.6,0,11.9-5.3,11.9-11.9
									C133.6,67,128.2,61.7,121.7,61.7z"/>
								<path class="st0" d="M53,78.3h53.1c-0.4-1.4-0.7-2.9-0.7-4.4H53.7C53.7,75.4,53.4,76.9,53,78.3z"/>
								<path class="st0" d="M37.4,89.9c-9,0-16.3-7.3-16.3-16.3c0-9,7.3-16.3,16.3-16.3c9,0,16.3,7.3,16.3,16.3
									C53.7,82.5,46.4,89.9,37.4,89.9z M37.4,61.7c-6.6,0-11.9,5.3-11.9,11.9c0,6.6,5.3,11.9,11.9,11.9s11.9-5.3,11.9-11.9
									C49.3,67,44,61.7,37.4,61.7z"/>
								<path class="st0" d="M150.7,52.4c-0.2-0.2-0.5-0.4-0.7-0.6c-0.2-0.2-0.3-0.4-0.4-0.7l-1.3-5.6c-0.5-2.2-1.6-3.9-3.1-5
									c-1.5-1-3.2-1.7-5-1.9l-26.7-2.5c-1-1.2-2.5-4-3.6-6.2c-4.2-7.9-9.9-18.8-19.6-18.8H15.5c-3,0-5.5,2.5-5.5,5.5v23.8v2.7v10.3
									c0,0.2-0.1,0.4-0.2,0.6l-2.7,3.4c-1.2,1.5-1.9,3.4-1.9,5.3l0,5.5c0,2,0.9,4,2.4,5.3l3.3,2.9c1.5,1.3,3.4,2,5.3,2h5.6
									c-0.4-1.4-0.7-2.9-0.7-4.4h-4.9c-0.9,0-1.7-0.3-2.4-0.9l-3.3-2.9c-0.6-0.5-0.9-1.2-0.9-2l0-5.5c0-0.9,0.3-1.8,0.9-2.5l2.7-3.4
									c0.8-0.9,1.2-2.1,1.2-3.3V43.1v-2.7h97.4l27.9,2.6c1.1,0.1,2.1,0.5,3,1.1c0.8,0.5,1.1,1.5,1.3,2.3l1.3,5.6c0.3,1.2,0.9,2.2,1.7,3
									c0.2,0.2,0.5,0.5,0.8,0.7c0.8,0.7,2.6,2.3,2.6,3v12.2c0,0.7,0,2.1-0.3,2.3c-0.5,0.4-1.4,0.7-2.2,0.7H138c0,1.5-0.3,3-0.7,4.4h10.6
									c1.9,0,3.7-0.6,5-1.7c2-1.6,2-4.1,2-5.8V58.7C154.8,56,152.5,54,150.7,52.4z M14.4,36V16.6c0-0.6,0.5-1.1,1.1-1.1h74.8
									c7,0,12,9.5,15.7,16.4c0.8,1.6,1.6,2.9,2.3,4L14.4,36z"/>
								<polygon class="st0" points="36.8,36 39.8,15.5 35.3,15.5 32.4,36 	"/>
								<polygon class="st0" points="73.7,36 71.7,15.5 67.3,15.5 69.2,36 	"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Minivan</div>
				</div>
			</div>

			<div class="row widget-content-report-transportation-container">
				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="truck">
								<path class="st0" d="M39.9,71.2c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
									C38.2,67.4,39.9,69.1,39.9,71.2z"/>
								<path class="st0" d="M127.9,71.2c0,2.1-1.7,3.8-3.8,3.8c-2.1,0-3.8-1.7-3.8-3.8c0-2.1,1.7-3.8,3.8-3.8
									C126.2,67.4,127.9,69.1,127.9,71.2z"/>
								<path class="st0" d="M36.1,86.1c-8.2,0-14.9-6.7-14.9-14.9c0-8.2,6.7-14.9,14.9-14.9S51,63,51,71.2C51,79.4,44.3,86.1,36.1,86.1z
									 M36.1,60.4c-6,0-10.9,4.9-10.9,10.9s4.9,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9S42.1,60.4,36.1,60.4z"/>
								<path class="st0" d="M124.1,86.1c-8.2,0-14.9-6.7-14.9-14.9c0-8.2,6.7-14.9,14.9-14.9c8.2,0,14.9,6.7,14.9,14.9
									C139,79.4,132.3,86.1,124.1,86.1z M124.1,60.4c-6,0-10.9,4.9-10.9,10.9s4.9,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9
									S130.1,60.4,124.1,60.4z"/>
								<path class="st0" d="M36.1,86.1c-8.2,0-14.9-6.7-14.9-14.9c0-8.2,6.7-14.9,14.9-14.9S51,63,51,71.2C51,79.4,44.3,86.1,36.1,86.1z
									 M36.1,60.4c-6,0-10.9,4.9-10.9,10.9s4.9,10.9,10.9,10.9c6,0,10.9-4.9,10.9-10.9S42.1,60.4,36.1,60.4z"/>
								<path class="st0" d="M50.4,75.6h59.5c-0.4-1.3-0.6-2.6-0.6-4H51C51,72.9,50.7,74.3,50.4,75.6z"/>
								<path class="st0" d="M151.6,60.2l-0.7-0.9c-0.3-0.4-0.5-0.9-0.5-1.4v-5.5c0-4.5-2.9-8-7.6-9.1l-19.6-3c-1.1-0.5-4.2-3.9-6.6-6.7
									c-6.5-7.4-15.5-17.5-24-17.5H67.6c-2.8,0-5,2.3-5,5v18.7l-50.5,0c-3.1,0-5.1,2.3-5.1,5.7v16.8c0,3,5.2,13.2,9.3,13.2h5.5
									c-0.4-1.3-0.6-2.6-0.6-4h-4.7c-1.7-0.8-5.4-7.5-5.4-9.2V45.6c0-1.7,0.8-1.7,1.1-1.7h107.7l2.3,0.4c0.3,0.1,0.5,0.1,0.8,0.1
									l18.9,2.9c3.7,0.9,4.5,3.3,4.5,5.2v5.5c0,1.4,0.5,2.7,1.4,3.9l0.7,0.9c0.9,1.2,1.4,2.6,1.4,4.1v3.1c0,1.1-0.9,1.6-1.8,1.6h-9.1
									c0,1.4-0.2,2.8-0.6,4h9.7c3.2,0,5.8-2.5,5.8-5.6v-3.1C153.8,64.5,153,62.1,151.6,60.2z M66.6,21.2c0-0.6,0.4-1,1-1h24.8
									c6.7,0,15,9.3,21,16.1c1.2,1.4,2.3,2.6,3.2,3.6l-50.1,0V21.2z"/>
								<rect x="79.2" y="20.1" class="st0" width="4" height="19.7"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Truck</div>
				</div>

				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="LargeTruck">
								<path class="st0" d="M124.3,53.7h-23.1c-1.1,0-2-0.9-2-2V36.4c0-1.1,0.9-2,2-2h16.1c0.6,0,1.2,0.3,1.5,0.7l7.1,8.5
									c0.3,0.4,0.5,0.8,0.5,1.3v6.8C126.3,52.8,125.4,53.7,124.3,53.7z M103.2,49.7h19.1v-4.1l-6-7.2h-13.1V49.7z"/>
								<path class="st0" d="M86,53.7H26.4c-1.1,0-2-0.9-2-2s0.9-2,2-2H86c1.1,0,2,0.9,2,2S87.2,53.7,86,53.7z"/>
								<path class="st0" d="M51.6,82.5c0,2-1.6,3.5-3.5,3.5c-2,0-3.5-1.6-3.5-3.5s1.6-3.5,3.5-3.5C50,78.9,51.6,80.5,51.6,82.5z"/>
								<path class="st0" d="M122.7,82.5c0,2-1.6,3.5-3.5,3.5c-2,0-3.5-1.6-3.5-3.5s1.6-3.5,3.5-3.5C121.1,78.9,122.7,80.5,122.7,82.5z"/>
								<path class="st0" d="M48,96c-7.5,0-13.5-6.1-13.5-13.5c0-7.5,6.1-13.5,13.5-13.5c7.5,0,13.5,6.1,13.5,13.5C61.5,89.9,55.5,96,48,96
									z M48,72.9c-5.3,0-9.5,4.3-9.5,9.5c0,5.3,4.3,9.5,9.5,9.5c5.3,0,9.5-4.3,9.5-9.5C57.5,77.2,53.3,72.9,48,72.9z"/>
								<path class="st0" d="M119.2,96c-7.5,0-13.5-6.1-13.5-13.5c0-7.5,6.1-13.5,13.5-13.5c7.5,0,13.5,6.1,13.5,13.5
									C132.7,89.9,126.6,96,119.2,96z M119.2,72.9c-5.3,0-9.5,4.3-9.5,9.5c0,5.3,4.3,9.5,9.5,9.5c5.3,0,9.5-4.3,9.5-9.5
									C128.7,77.2,124.4,72.9,119.2,72.9z"/>
								<path class="st0" d="M139.5,45.1l-12.7-16.3c-1.5-2-3.9-3.1-6.4-3.1H96.4V13c0-2.8-2.2-5-5-5H20.8c-2.8,0-5,2.2-5,5v62.9
									c0,2.8,2.2,5,5,5h13.8c0.2-1.4,0.6-2.8,1.1-4H20.8c-0.6,0-1-0.4-1-1V13c0-0.6,0.4-1,1-1h70.6c0.6,0,1,0.4,1,1v16.7h4h23.9
									c1.3,0,2.5,0.6,3.3,1.6l12.7,16.3c0.9,1.2,1.4,2.6,1.4,4.1v24.2c0,0.6-0.4,1-1,1h-5.3c0.6,1.2,1,2.6,1.1,4h4.2c2.8,0,5-2.2,5-5
									V51.7C141.8,49.3,141,47,139.5,45.1z"/>
								<path class="st0" d="M94.3,76.9h-2.9h-1.8H60.3c0.6,1.2,1,2.6,1.1,4h29h1h14.3c0.2-1.4,0.6-2.8,1.1-4H96.3H94.3z"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.LargerTruck</div>
				</div>

				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="motocycle">
								<g>
									<path class="st0" d="M136,93.7c-10.6,0-19.2-8.6-19.2-19.2c0-10.6,8.6-19.2,19.2-19.2c10.6,0,19.2,8.6,19.2,19.2
										C155.2,85.1,146.6,93.7,136,93.7z M136,59.2c-8.5,0-15.3,6.9-15.3,15.3c0,8.5,6.9,15.3,15.3,15.3s15.3-6.9,15.3-15.3
										C151.3,66,144.4,59.2,136,59.2z"/>
								</g>
								<g>
									<path class="st0" d="M136.1,76.6c-0.4,0-0.9-0.2-1.3-0.5c-0.6-0.4-1-1.1-1-1.8c0.1-0.8,0.7-1.5,1.5-1.8c1-0.4,2.1,0,2.5,1
										c0.1,0.3,0.2,0.7,0.2,1c0,0.6-0.2,1.2-0.6,1.6C137.1,76.4,136.6,76.6,136.1,76.6z"/>
								</g>
								<g>
									<path class="st0" d="M40.8,94.5c-11.7,0-21.4-8.6-22.2-19.7c-0.1-1.1,0.7-2,1.8-2.1c1.1-0.1,2,0.7,2.1,1.8c0.6,9,8.7,16,18.3,16
										c9.7,0,17.7-7.1,18.3-16.2c0.1-1.1,1-1.9,2.1-1.8c1.1,0.1,1.9,1,1.8,2.1C62.3,85.8,52.6,94.5,40.8,94.5z"/>
								</g>
								<g>
									<path class="st0" d="M38,76.6c-0.4,0-0.9-0.2-1.3-0.5c-0.6-0.4-1-1.1-1-1.8c0.1-0.8,0.7-1.5,1.5-1.8c1-0.4,2.1,0,2.5,1
										c0.1,0.3,0.2,0.7,0.2,1c0,0.6-0.2,1.2-0.6,1.6C38.9,76.4,38.4,76.6,38,76.6z"/>
								</g>
								<g>
									<path class="st0" d="M136.1,84.1c-5.3,0-9.7-4.3-9.7-9.7c0-5.3,4.3-9.7,9.7-9.7c5.3,0,9.7,4.3,9.7,9.7
										C145.7,79.8,141.4,84.1,136.1,84.1z M136.1,68.7c-3.2,0-5.8,2.6-5.8,5.8c0,3.2,2.6,5.8,5.8,5.8c3.2,0,5.8-2.6,5.8-5.8
										C141.8,71.3,139.2,68.7,136.1,68.7z"/>
								</g>
								<g>
									<path class="st0" d="M40.7,84.9c-5.6,0-10.4-3.8-11.5-9.1c-0.2-1.1,0.5-2.1,1.5-2.3c1.1-0.2,2.1,0.5,2.3,1.5
										c0.7,3.4,3.9,5.9,7.6,5.9c3.9,0,7.2-2.7,7.7-6.2c0.2-1.1,1.1-1.8,2.2-1.6c1.1,0.2,1.8,1.1,1.6,2.2C51.4,80.8,46.4,84.9,40.7,84.9z
										"/>
								</g>
								<g>
									<path class="st0" d="M89.6,76.8C89.6,76.8,89.6,76.8,89.6,76.8l-33.9-0.2c-1.1,0-1.9-0.9-1.9-2c0-1.1,0.9-1.9,2-1.9c0,0,0,0,0,0
										l33.8,0.2c0.6-0.1,4.6-0.7,6.8-4.2c1.4-2.3,15.5-25.9,15.6-26.2c0.4-0.6,1-1,1.7-1c0.7,0,1.3,0.4,1.7,1l5.1,9.9
										c0.5,1,0.1,2.1-0.8,2.6c-1,0.5-2.1,0.1-2.6-0.8l-3.5-6.7c-3.9,6.5-12.7,21.4-13.8,23.2c-3.4,5.4-9.6,6-9.9,6
										C89.7,76.8,89.6,76.8,89.6,76.8z"/>
								</g>
								<g>
									<path class="st0" d="M57.5,76.3C57.5,76.3,57.5,76.3,57.5,76.3c-2.1,0-42.5,0-42.9,0c-1.1,0-2.2-0.2-3.2-0.5
										c-5.2-1.9-6.7-8-6.9-11.3C4.4,60,5.7,44.8,28.8,36.9c1-0.3,2.1,0.2,2.5,1.2c0.3,1-0.2,2.1-1.2,2.5C9.5,47.6,8.3,60.5,8.4,64.3
										c0.1,1.8,0.9,6.6,4.3,7.8c0.6,0.2,1.2,0.3,1.9,0.3c0.4,0,40.8,0,43,0c1.1,0,1.9,0.9,1.9,2C59.4,75.5,58.6,76.3,57.5,76.3z"/>
								</g>
								<g>
									<path class="st0" d="M73.2,41.2h-2.1c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2h2.1c2.2,0,4.1-1.8,4.1-4.1V33c0-2.2-1.8-4.1-4.1-4.1H29.4
										c-2.2,0-4.1,1.8-4.1,4.1v0.2c0,2.2,1.9,4,4.1,4.1c1.1,0,1.9,0.9,1.9,2c0,1.1-0.9,1.9-2,1.9c0,0,0,0,0,0c-4.4-0.1-8-3.6-8-8V33
										c0-4.4,3.6-8,8-8h43.8c4.4,0,8,3.6,8,8v0.2C81.2,37.7,77.6,41.2,73.2,41.2z"/>
								</g>
								<g>
									<path class="st0" d="M71.7,66.3c-1.1,0-1.9-0.9-2-1.9l-0.1-22.7c0-1.1,0.9-2,1.9-2c1.1,0,2,0.9,2,1.9l0.1,22.7
										C73.7,65.5,72.8,66.3,71.7,66.3C71.7,66.3,71.7,66.3,71.7,66.3z"/>
								</g>
								<g>
									<path class="st0" d="M148.3,62.6c-1.1,0-2.2-0.3-3.2-1c-0.9-0.6-1.1-1.8-0.5-2.7c0.6-0.9,1.8-1.1,2.7-0.5c0.5,0.3,1.2,0.4,1.9,0.1
										c0.4-0.2,1.1-0.6,1.3-1.8c0.2-1.1-0.1-2-0.8-2.9c-2.5-2.9-9.5-4.2-13.7-4.2c-2,0-4.4,0.2-6.1,0.6c-1.1,0.2-2.1-0.4-2.3-1.5
										c-0.2-1.1,0.4-2.1,1.5-2.3c1.9-0.4,4.6-0.7,6.9-0.7c4.1,0,12.9,1.2,16.7,5.6c1.5,1.7,2.1,3.8,1.7,6.1c-0.3,2.2-1.6,3.9-3.6,4.7
										C149.9,62.4,149.1,62.6,148.3,62.6z"/>
								</g>
								<g>
									<path class="st0" d="M114.2,80.3c-0.9,0-2-0.2-3.2-0.6c-2.5-0.8-4.1-2.4-4.8-4.8c-1.7-6,3.8-15.2,6.6-18.6c1.4-1.7,3-3.2,4.8-4.6
										c0.9-0.7,2.1-0.5,2.7,0.4c0.7,0.9,0.5,2.1-0.4,2.7c-1.5,1.2-2.9,2.5-4.2,4c-2.7,3.2-7,11-5.9,15c0.3,1.1,1,1.7,2.3,2.1
										c2.8,0.9,3.5,0.5,4.6-2.6c0.4-1,1.5-1.5,2.5-1.2c1,0.4,1.5,1.5,1.2,2.5C119.5,77.6,117.9,80.3,114.2,80.3z"/>
								</g>
								<g>
									<path class="st0" d="M120.5,24.4c-3.9,0-6.8-0.9-8.5-2.7c-1.2-1.2-1.8-2.9-1.8-4.8c0.1-4.7,3.9-7.4,10.4-7.4c1.7,0,2.9,0.2,3,0.2
										c1,0.1,1.7,1,1.7,1.9v10.6c0,1-0.7,1.8-1.7,1.9C123.5,24.2,122.2,24.4,120.5,24.4z M120.6,13.5c-4.2,0-6.4,1.2-6.5,3.6
										c0,1.1,0.4,1.6,0.7,2c0.9,1,3,1.5,5.7,1.5c0.3,0,0.6,0,0.8,0v-7C121.1,13.5,120.8,13.5,120.6,13.5z"/>
								</g>
								<g>
									<path class="st0" d="M87.9,66.3H71.7c-1.1,0-2-0.9-2-2c0-1.1,0.9-2,2-2h15.1l19.3-32.7l-6.3-13.6H85.1c-2.2,0-4-1-5-2.8
										c-1-1.8-1-4.2,0-6c1.1-1.9,3.1-3,5.5-3c0,0,0,0,0,0c2.7,0,12.6,0,17.2,0l1.8,0c0,0,0,0,0,0c4.4,0,6.7,4.5,6.8,4.7l1.3,2.6
										c0.5,1,0.1,2.1-0.9,2.6c-1,0.5-2.1,0.1-2.6-0.9l-1.3-2.6c0,0-1.4-2.5-3.3-2.5l-1.8,0c-4.7,0-14.5,0-17.2,0c0,0,0,0,0,0
										c-1,0-1.7,0.3-2.1,1c-0.4,0.6-0.4,1.5,0,2.1c0.3,0.5,0.8,0.8,1.6,0.8H101c0.8,0,1.4,0.4,1.8,1.1L110,29c0.3,0.6,0.2,1.3-0.1,1.8
										L89.5,65.4C89.2,66,88.5,66.3,87.9,66.3z"/>
								</g>
								<g>
									<path class="st0" d="M128.3,49.6c-0.7,0-1.4-0.4-1.8-1.1L114.4,24c-0.5-1-0.1-2.1,0.9-2.6c1-0.5,2.1-0.1,2.6,0.9l12.2,24.6
										c0.5,1,0.1,2.1-0.9,2.6C128.9,49.5,128.6,49.6,128.3,49.6z"/>
								</g>
								<g>
									<path class="st0" d="M8.4,73.4c-0.8,0-1.5-0.5-1.8-1.2C5.5,69.4,5,66.5,5,63.6c0-15.4,15.4-27.9,34.3-27.9c7.8,0,15.2,2.1,21.3,6
										c0.9,0.6,1.2,1.8,0.6,2.7c-0.6,0.9-1.8,1.2-2.7,0.6c-5.4-3.5-12.2-5.4-19.2-5.4c-16.8,0-30.4,10.8-30.4,24c0,2.4,0.5,4.8,1.4,7.1
										c0.4,1-0.1,2.1-1.1,2.5C8.9,73.3,8.7,73.4,8.4,73.4z"/>
								</g>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Motocycle</div>
				</div>

				<div class="col-md-3 widget-content-report-transportation-container-item">
					<div class="widget-content-report-transportation-container-image">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							  viewBox="0 0 160 100" style="enable-background:new 0 0 160 100;" xml:space="preserve">
							<g id="bike">
								<path class="st0" d="M33.4,94.3c-15.7,0-28.4-12.7-28.4-28.4c0-15.7,12.7-28.4,28.4-28.4c15.7,0,28.4,12.7,28.4,28.4
									C61.8,81.6,49.1,94.3,33.4,94.3z M33.4,41.8c-13.3,0-24.1,10.8-24.1,24.1C9.4,79.2,20.2,90,33.4,90c13.3,0,24.1-10.8,24.1-24.1
									C57.5,52.6,46.7,41.8,33.4,41.8z"/>
								<path class="st0" d="M127.4,94.3C111.7,94.3,99,81.6,99,65.9c0-15.7,12.7-28.4,28.4-28.4c15.7,0,28.4,12.7,28.4,28.4
									C155.8,81.6,143,94.3,127.4,94.3z M127.4,41.8c-13.3,0-24.1,10.8-24.1,24.1c0,13.3,10.8,24.1,24.1,24.1c13.3,0,24.1-10.8,24.1-24.1
									C151.5,52.6,140.7,41.8,127.4,41.8z"/>
								<path class="st0" d="M80.5,68.1H33.4c-0.8,0-1.5-0.4-1.9-1.1c-0.4-0.7-0.4-1.5,0-2.2l24.8-42.4c0.4-0.7,1.1-1.1,1.9-1.1h47
									c0.8,0,1.5,0.4,1.9,1.1c0.4,0.7,0.4,1.5,0,2.2L82.4,67C82,67.7,81.3,68.1,80.5,68.1z M37.2,63.8h42.1l22.3-38.1h-42L37.2,63.8z"/>
								<path class="st0" d="M127.4,68.1c-0.8,0-1.5-0.4-1.9-1.2l-22.1-42.4l-8-15.5C95,8.4,95.1,7.6,95.4,7c0.4-0.6,1.1-1,1.8-1h16.1
									c1.2,0,2.2,1,2.2,2.2c0,1.2-1,2.2-2.2,2.2h-12.5l6.4,12.3l22.1,42.4c0.6,1.1,0.1,2.4-0.9,2.9C128.1,68,127.7,68.1,127.4,68.1z"/>
								<path class="st0" d="M82.4,64.9L52.6,10.2h10.5c1.2,0,2.2-1,2.2-2.2c0-1.2-1-2.2-2.2-2.2H41.4c-1.2,0-2.2,1-2.2,2.2
									c0,1.2,1,2.2,2.2,2.2h6.2l31,56.7c0.4,0.7,1.1,1.1,1.9,1.1c0.3,0,0.7-0.1,1-0.3C82.6,67.2,83,65.9,82.4,64.9z"/>
								<path class="st0" d="M86.7,65.9c0,3.4-2.8,6.2-6.2,6.2c-3.4,0-6.2-2.8-6.2-6.2c0-3.4,2.8-6.2,6.2-6.2
									C83.9,59.7,86.7,62.5,86.7,65.9z"/>
							</g>
						</svg>
					</div>
					<div class="widget-content-report-transportation-container-value">@Widget.Data.Bikes</div>
				</div>
			</div>

			<div class="widget-content-report-transportation-separator"></div>

			<div class="row widget-content-report-transportation-container">
				<div class="col-lg-12">
					<div class="row widget-content-report-transportation-avg">
						<div class="col-md-8 widget-content-report-transportation-avg-label">AVG # People per car:</div>
						<div class="col-md-4 widget-content-report-transportation-avg-value">@Widget.GetAveragePeoplePerCar()</div>
					</div>
					<div class="row widget-content-report-transportation-avg">
						<div class="col-md-8 widget-content-report-transportation-avg-label">AVG # Family per car:</div>
						<div class="col-md-4 widget-content-report-transportation-avg-value">@Widget.GetAverageFamilyePerCar()</div>
					</div>
				</div>
			</div>
		</div>
	</div>

@code {

	private string Color { get { return string.IsNullOrWhiteSpace(Widget.Color) ? "" : Widget.Color; } }

}

<style type="text/css">
	.st0 {
		fill: @Color;
	}

	.row.widget-content-report-transportation-container {
		 padding: 5px;
		 margin: 10px 0px;
	}

	.col-md-3.widget-content-report-transportation-container-item {
		 text-align: center;
		 padding: 15px 15px;
	}

	.widget-content-report-transportation-container-image {
		 display: inline-block;
		 height: 86px;
		 width: 137px;
		 padding: 7px;
	}

	.widget-content-report-transportation-container-value {
		 text-align: center;
		 width: 30%;
		 color: @Color;
		 font-size: 36px;
		 font-weight: bold;
		 margin: 7px;
		 display: inline-block;
	}

	.widget-content-report-transportation-avg {
		padding:10px;
		margin: 2px 5px;
	}

	.widget-content-report-transportation-avg-label {
		 font-size: 24px;
		 color: @Color;
	}
	.widget-content-report-transportation-avg-value {
		 text-align: right;
		 font-size: 30px;
		 color: @Color;
	}

	.widget-content-report-transportation-separator {
		 width: 100%;
		 height: 1px;
		 background-color: #6c6a6a;
	}
</style>
