@layout MainLayout
@inherits BaseBlazorComponent<Orions.Systems.CrossModules.MissionAnalytics.MissionAnalyticsVm>

@page "/"

@using Telerik.Blazor.Components.DropDownList

<dv class="orions-container">

	<div id="missionProgressFilterId" class="orions-mission-analytics-header">
		<div>
			<TelerikDropDownList Data="@DataContext.FilterVmProp.Value.MissionInstanceOptions"
								 @bind-Value=@DataContext.FilterVmProp.Value.SelectedMissionInstance
								 ValueField="Value"
								 TextField="Text"
								 Width="100%">
			</TelerikDropDownList>
		</div>

		<div>
			<TelerikDropDownList Data="@DataContext.FilterVmProp.Value.TimeRangeOptions"
								 @bind-Value=@DataContext.FilterVmProp.Value.SelectedTimeRange
								 ValueField="Value"
								 TextField="Text"
								 Width="100%">
			</TelerikDropDownList>
		</div>

		<TelerikButton OnClick="@DataContext.LoadCommand" Primary="true"><i class="fa fa-refresh mr-1"></i> Refresh</TelerikButton>
	</div>

	<div class="orions-mission-analytics-progress">
		<Progress DataContext="@DataContext.ProgressVmProp"></Progress>
	</div>

	<div class="orions-mission-analytics-stats">
		<Statistic ContentStatistics="@DataContext.StatsVmProp.Value">
		</Statistic>
	</div>

</dv>

@code
{
	
	protected override async Task OnInitializedAsync()
	{
		await DataContext.InitStoreAsync(Program.HyperConnectionSettings);

		await DataContext.LoadDataAsync();

		await base.OnInitializedAsync();
	}

}
