@layout MainLayout
@inherits BaseBlazorComponent<Orions.Systems.CrossModules.MissionAnalytics.ModuleVm>

@page "/"

    <dv class="orions-container">

        <MissionTab Name="@Vm.Mission?.Name"></MissionTab>

        <div id="missionProgressFilterId" class="orions-mission-analytics-header">
            <div>
                <TelerikDropDownList Data="@Vm.FilterVm.MissionInstanceOptions"
                                     @bind-Value=@Vm.FilterVm.SelectedMissionInstance
                                     ValueField="Value"
                                     TextField="Text"
                                     Width="100%">
                </TelerikDropDownList>
            </div>

            <div>
                <TelerikDropDownList Data="@Vm.FilterVm.TimeRangeOptions"
                                     @bind-Value=@Vm.FilterVm.SelectedTimeRange
                                     ValueField="Value"
                                     TextField="Text"
                                     Width="100%">
                </TelerikDropDownList>
            </div>

            <TelerikButton OnClick="@Vm.LoadCommand" Primary="true"><i class="fa fa-refresh mr-1"></i> Refresh</TelerikButton>
        </div>

        <div class="orions-mission-analytics-progress">
            <Progress DataContext="@Vm.ProgressVm"></Progress>
        </div>

        <div class="orions-mission-analytics-stats">
            <Stats DataContext="@Vm.StatsVm"></Stats>
        </div>

    </dv>

@code
{
	
	protected override async Task OnInitializedAsync()
	{
		await Vm.InitStoreAsync(Program.HyperConnectionSettings);

		await Vm.LoadDataAsync();

		await base.OnInitializedAsync();
	}

}
