@layout MainLayout
@inherits BaseOrionsComponent

@page "/"

@using Orions.Infrastructure.HyperMedia;

@using Telerik.Blazor.Components.DropDownList

<dv class="orions-container">

	<div id="missionProgressFilterId" class="orions-mission-analytics-header">
		<div>
			<TelerikDropDownList Data="@Filter.MissionInstances"
								 @bind-Value=@Filter.SelectedMissionInstance
								 Class="w-100"
								 ValueField="Id" TextField="Label">
			</TelerikDropDownList>
		</div>

		<div>
			<TelerikDropDownList Data="@Filter.StagesOptions"
								 @bind-Value=@Filter.SelectedStage
								 Class="w-100"
								 ValueField="Value" TextField="Text">
			</TelerikDropDownList>
		</div>

		<div>
			<TelerikDropDownList Data="@Filter.DaysOptions"
								 @bind-Value=@Filter.SelectedDayOption
								 Class="w-100"
								 ValueField="Value" TextField="Text">
			</TelerikDropDownList>
		</div>

		<TelerikButton OnClick="@PopulateData" Primary="true"><i class="fa fa-refresh mr-1"></i> Refresh</TelerikButton>
	</div>

	<div class="orions-mission-analytics-progress">
		<Progress Model="@progressModel"
				  XAxisItems="@xAxisItems.ToArray()">
		</Progress>

	</div>

	<div class="orions-mission-analytics-stats">
		<Statistic ContentStatistics="@contentStatistics">
		</Statistic>
	</div>

</dv>

@code
{

	public FilterViewModel Filter { get; set; } = new FilterViewModel();

	private ContentProgressViewModel progressModel = new ContentProgressViewModel();
	private object[] xAxisItems = new object[0];
	private ContentStatisticsViewModel contentStatistics = new ContentStatisticsViewModel();


	protected override async Task OnInitializedAsync()
	{
		var vizRequest = GetObjectFromQueryString<CrossModuleVisualizationRequest>("request");
		if (vizRequest == null) vizRequest = GetDemoRequest();

		DataContext.Instance.Request = vizRequest;

		Filter.MissionInstances = await DataContext.Instance.GetMissionInstances();

		await PopulateData();

		await base.OnInitializedAsync();
	}

	private CrossModuleVisualizationRequest GetDemoRequest()
	{
		return new CrossModuleVisualizationRequest
		{
			MissionIds = new[] { "e8d88c8a-b82d-4911-9639-3080ef877653" },
			WorkflowInstanceIds = new[] { "3a3be967-533b-413e-8323-c079a81e1ff1" }
		};
	}

	public async Task PopulateData()
	{
		progressModel = await DataContext.Instance.GetProgressData(Filter.SelectedMissionInstance, Filter.ReportDaysValue, Filter.TimeStep);

		xAxisItems = progressModel.ExploitedDuration.Select(it => it.Key).ToArray();

		contentStatistics = await DataContext.Instance.GetStatisticsData(Filter.SelectedMissionInstance, Filter.ReportDaysValue);
	}
}
