
@inherits BaseBlazorComponent<Orions.Systems.CrossModules.MissionAnalytics.ContentProgressVm>

<div>
	<TelerikChart Width="100%">
		<ChartSeriesItems>
			<ChartSeries Type="ChartSeriesType.Area"
						 Name="Total Duration"
						 Data="@DataContext.TotalDurationProp.Value"
						 Field="@nameof(ProgressValue.Value)"
						 CategoryField="@nameof(ProgressValue.Key)"
						 Axis="hours"
						 Color="#FFD21B">
			</ChartSeries>
			<ChartSeries Type="ChartSeriesType.Area"
						 Name="Exploited Duration"
						 Data="@DataContext.ExploitedDurationProp.Value"
						 Field="@nameof(ProgressValue.Value)"
						 CategoryField="@nameof(ProgressValue.Key)"
						 Axis="hours"
						 Color="#8B79E6">
			</ChartSeries>
			<ChartSeries Type="ChartSeriesType.Line"
						 Name="Tasks Performed"
						 Data="@DataContext.TasksPerformedProp.Value"
						 Field="@nameof(ProgressValue.Value)"
						 CategoryField="@nameof(ProgressValue.Key)"
						 Color="#0785C8">
			</ChartSeries>
			<ChartSeries Type="ChartSeriesType.Line"
						 Name="Tasks Outstanding"
						 Data="@DataContext.TasksOutstandingProp.Value"
						 Field="@nameof(ProgressValue.Value)"
						 CategoryField="@nameof(ProgressValue.Key)"
						 Color="#FC1B2B">
			</ChartSeries>
			<ChartSeries Type="ChartSeriesType.Line"
						 Name="Tasks Completed Per Period"
						 Data="@DataContext.TasksCompletedPerPeriodProp.Value"
						 Field="@nameof(ProgressValue.Value)"
						 CategoryField="@nameof(ProgressValue.Key)"
						 Color="#11B200">
			</ChartSeries>
		</ChartSeriesItems>

		<ChartCategoryAxes>
			<ChartCategoryAxis Categories="@DataContext.CategoriesProp.Value" StartAngle="90"></ChartCategoryAxis>
		</ChartCategoryAxes>

		<ChartValueAxes>
			<ChartValueAxis>
				<ChartValueAxisTitle Text="Tasks"></ChartValueAxisTitle>
			</ChartValueAxis>
			<ChartValueAxis Type="ChartValueAxisType.Numeric" Name="hours">
				<ChartValueAxisTitle Text="Hours"></ChartValueAxisTitle>
			</ChartValueAxis>
		</ChartValueAxes>

		<ChartLegend Position="ChartLegendPosition.Bottom">
		</ChartLegend>

	</TelerikChart>
</div>
<div class="line-2">
	<div class="chart">
		<TelerikChart Width="100%" Height="100%">
			<ChartSeriesItems>
				<ChartSeries Type="ChartSeriesType.Line"
							 Name="Completion %"
							 Data="@DataContext.CompletionPercentProp.Value"
							 Field="@nameof(ProgressValue.Value)"
							 CategoryField="@nameof(ProgressValue.Key)"
							 Color="#FC1B2B">
				</ChartSeries>
			</ChartSeriesItems>
			<ChartCategoryAxes>
				<ChartCategoryAxis Categories="@DataContext.CategoriesProp.Value" Visible="false"></ChartCategoryAxis>
			</ChartCategoryAxes>
			<ChartValueAxes>
				<ChartValueAxis Type="ChartValueAxisType.Numeric" 
								Min="@DataContext.CompletionPercentMinValueProp.Value"
								Max="@DataContext.CompletionPercentMaxValueProp.Value">
				</ChartValueAxis>
			</ChartValueAxes>
			<ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Bottom">
			</ChartLegend>
		</TelerikChart>
	</div>
	<div class="chart">
		<TelerikChart Width="100%" Height="100%">
			<ChartSeriesItems>
				<ChartSeries Type="ChartSeriesType.Line"
							 Name="Sessions"
							 Data="@DataContext.SessionsProp.Value"
							 Field="@nameof(ProgressValue.Value)"
							 CategoryField="@nameof(ProgressValue.Key)"
							 Color="#FC1B2B">
				</ChartSeries>
			</ChartSeriesItems>
			<ChartCategoryAxes>
				<ChartCategoryAxis Categories="@DataContext.CategoriesProp.Value" Visible="false"></ChartCategoryAxis>
			</ChartCategoryAxes>
			<ChartValueAxes>
				<ChartValueAxis Type="ChartValueAxisType.Numeric" 
								Min="@DataContext.SessionsMinValueProp.Value" 
								Max="@DataContext.SessionsMaxValueProp.Value">
				</ChartValueAxis>
			</ChartValueAxes>
			<ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Bottom">
			</ChartLegend>
		</TelerikChart>
	</div>
	<div class="chart">
		<TelerikChart Width="100%" Height="100%">
			<ChartSeriesItems>
				<ChartSeries Type="ChartSeriesType.Line"
							 Name="New Taggers"
							 Data="@DataContext.NewTaggersProp.Value"
							 Field="@nameof(ProgressValue.Value)"
							 CategoryField="@nameof(ProgressValue.Key)"
							 Color="#FC1B2B">
				</ChartSeries>
			</ChartSeriesItems>
			<ChartCategoryAxes>
				<ChartCategoryAxis Categories="@DataContext.CategoriesProp.Value" Visible="false"></ChartCategoryAxis>
			</ChartCategoryAxes>
			<ChartValueAxes>
				<ChartValueAxis Type="ChartValueAxisType.Numeric" 
								Min="@DataContext.NewTaggersMinValueProp.Value" 
								Max="@DataContext.NewTaggersMaxValueProp.Value">
				</ChartValueAxis>
			</ChartValueAxes>
			<ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Bottom">
			</ChartLegend>
		</TelerikChart>
	</div>
	<div class="chart">
		<TelerikChart Width="100%" Height="100%">
			<ChartSeriesItems>
				<ChartSeries Type="ChartSeriesType.Line"
							 Name="Exploitation Saturation %"
							 Data="@DataContext.ExploitationSaturationProp.Value"
							 Field="@nameof(ProgressValue.Value)"
							 CategoryField="@nameof(ProgressValue.Key)"
							 Color="#FC1B2B">
				</ChartSeries>
			</ChartSeriesItems>
			<ChartCategoryAxes>
				<ChartCategoryAxis Categories="@DataContext.CategoriesProp.Value" Visible="false"></ChartCategoryAxis>
			</ChartCategoryAxes>
			<ChartValueAxes>
				<ChartValueAxis Type="ChartValueAxisType.Numeric" 
								Min="@DataContext.ExploitationSaturationMinValueProp.Value" 
								Max="@DataContext.ExploitationSaturationMaxValueProp.Value">
				</ChartValueAxis>
			</ChartValueAxes>
			<ChartLegend Position="Telerik.Blazor.ChartLegendPosition.Bottom">
			</ChartLegend>
		</TelerikChart>
	</div>
</div>
