<div id="missionStatistic" data-template="_missionStatistic-side" class="orions-mission-stats-items">

	<div class="item rounded shadow-sm">
		<span class="label">Total Content Duration</span>
		<span class="value">@ContentStatistics.TotalContentDurationLabel</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Content Duration</span>
		<span class="value">@ContentStatistics.ContentDurationLabel</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Exploiting Content</span>
		<span class="value">@ContentStatistics.ExploitedDurationLabel</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Total Exploited Content</span>
		<span class="value">@ContentStatistics.TotalExploitingDurationLabel</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Exploited Content</span>
		<span class="value">@ContentStatistics.ExploitedDurationLabel</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Tagger Exploitation Time</span>
		<span class="value">@ContentStatistics.TaggerExploitationTimeLabel</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Completed Tasks</span>
		<span class="value">@ContentStatistics.TaskDone</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Outstanding Tasks</span>
		<span class="value">@ContentStatistics.TaskOutstanding</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Total Exploited %</span>
		<span class="value">@ContentStatistics.TotalExploitedPercentageRound %</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Exploited %</span>
		<span class="value">@ContentStatistics.ExploitedPercentageRound %</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Exploited Today %</span>
		<span class="value">@ContentStatistics.TodayExploitedPercentageRound %</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Total Tags</span>
		<span class="value">@ContentStatistics.TotalTags</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Tags</span>
		<span class="value">@ContentStatistics.Tags</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Tags Today</span>
		<span class="value">@ContentStatistics.TodayTags</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Total Taggers</span>
		<span class="value">@ContentStatistics.TotalTaggers</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Taggers</span>
		<span class="value">@ContentStatistics.Taggers</span>
	</div>
	<div class="item rounded shadow-sm">
		<span class="label">Taggers Today</span>
		<span class="value">@ContentStatistics.TodayTaggers</span>
	</div>
</div>

@code {

	[Parameter]
	public string Title { get; set; }

	[Parameter]
	public ContentStatisticsViewModel ContentStatistics { get; set; }
}
