@namespace Orions.Systems.CrossModules.Pages
@page "/color-picker"
@inherits BaseOrionsComponent

<h3>Color Picker</h3>

<hr>
<h5>RGB Color</h5>

<VanillaColorPicker ParentId="picker1"
                    Value="@RgbColor"
                    Color="@RgbColor"
                    Class="btn popup-parent"
                    OnDone="HandleColor"
                    EditorFormat="rgb">
</VanillaColorPicker>

<hr>
<h5>Hex Color</h5>
<VanillaColorPicker ParentId="picker2"
                    Value="@HexColor"
                    Color="@HexColor"
                    Class="btn popup-parent"
                    OnDone="HandleColor"
                    EditorFormat="hex">
</VanillaColorPicker>

<hr>
<h5>Hsl Color</h5>
<VanillaColorPicker ParentId="picker3"
                    Value="@HlsColor"
                    Color="@HlsColor"
                    Class="btn popup-parent"
                    OnDone="HandleColor"
                    EditorFormat="hsl">
</VanillaColorPicker>

<hr>

@if (string.IsNullOrWhiteSpace(SelectedColor))
{
    <div>
        Last selected Color is: @SelectedColor
    </div>

}

@code{

    public string SelectedColor { get; set; }

    public string RgbColor { get; set; } = "rgb(11, 69, 84)";

    public string HexColor { get; set; } = "#2c6737ff";

    public string HlsColor { get; set; } = "hsl(100, 100%, 50%)";

    public void HandleColor(string color)
    {
        SelectedColor = color;
    }

}

<style>

    .popup-parent {
        color: white;
        padding: 10px 16px;
        width: 300px;
        font-family: sans-serif;
        font-weight: 100;
        font-size: 20px;
        text-align: center;
    }
</style>