@inherits MissionListBase

@using Orions.Systems.CrossModules.Portal.Providers
@using Syncfusion.EJ2.Blazor.SplitButtons
@using Syncfusion.EJ2.Blazor.Navigations


@if (IsEmbedded)
{
	<div class="control-section">
		<div class="col-lg-12 col-sm-12 col-md-12">
			<div id="target">
				<div class="sidebar-content">
					@Body
				</div>
			</div>
		</div>
	</div>
}
else
{
	<div class="control-section">
		<div class="col-lg-12 col-sm-12 col-md-12" id="sidebar-section">
			<div id="head">
				<div class="header">
					<div class="menu">
						<img alt="image" class="img-circle" src="/image/orions-logo-sm.png">
					</div>
					<div class="right-content">
						@*<EjsDropDownButton IconCss="e-icons e-message" Content="Theme">
								 <DropDownButtonEvents ItemSelected="OnThemeSelected"></DropDownButtonEvents>
								 <DropDownButtonItems>
									  <DropDownButtonItem Id="Dark" Text="Dark"></DropDownButtonItem>
									  <DropDownButtonItem Id="White" Text="White"></DropDownButtonItem>
								 </DropDownButtonItems>
							</EjsDropDownButton>*@
						<AuthorizeView>
							<Authorized>
								<EjsDropDownButton Content="@context.User.Identity.Name">
									<DropDownButtonEvents ItemSelected="OnItemSelected"></DropDownButtonEvents>
									<DropDownButtonItems>
										<DropDownButtonItem Id="Logout" Text="Logout"></DropDownButtonItem>
									</DropDownButtonItems>
								</EjsDropDownButton>
							</Authorized>
						</AuthorizeView>
					</div>
				</div>
			</div>
			<EjsSidebar @ref="@dockSidebarInstance" Type="Syncfusion.EJ2.Blazor.Navigations.SidebarType.Over" Target="#target" EnableDock="true" DockSize="70px">
				<ChildContent>
					<div class="content-area">
						<div class="dock">
							<NavMenu Items="@NavItems" Version="@VersionLabel" />
						</div>
					</div>
				</ChildContent>
			</EjsSidebar>
			<div id="target">

				<LeftSideMenu Enable="@IsEnableLeftMenu" />

				<div class="sidebar-content">
					@Body
				</div>
			</div>
		</div>
	</div>
}


@if (CurrentTheme == CustomSettingsProvider.THEME_DARK)
{
	<link href="css/theme/bootstrap/bootstrap-dark.css" rel="stylesheet" />
	<link href="css/theme/sync/material-dark.css" rel="stylesheet" />
	<link href="css/theme/md/all.css" rel="stylesheet" />
	<link href="css/theme/all.css" rel="stylesheet" />
	<link href="css/theme-dark.css" rel="stylesheet" />
}
else
{
	<link href="css/theme-white.css" rel="stylesheet" />
}

<style>
	.e-message::before {
		content: '\e30d';
	}
</style>
