
@inherits BaseOrionsComponent

@inject NavigationManager navManager

<MatNavMenu Class="mat-nav">
	@*<MatNavItem Href="/"> <MatIcon Icon="home"></MatIcon></MatNavItem>*@
	<MatNavItem OnClick="@(ev => ForceNavigation())">
		<MatIcon Icon="@MatIconNames.Home"></MatIcon>
		<div class="nav-label">Home</div>
	</MatNavItem>
	<MatNavItem OnClick="@(ev => ForceNavigation("dashboards"))">
		<MatIcon Icon="@MatIconNames.View_module">
		</MatIcon><div class="nav-label">Home</div>
	</MatNavItem>
	<MatNavItem OnClick="@(ev => ForceNavigation("themes"))">
		<MatIcon Icon="@MatIconNames.Color_lens"></MatIcon>
		<div class="nav-label">Themes</div>
	</MatNavItem>
	<MatNavItem OnClick="@(ev => ForceNavigation("wizzard"))">
		<MatIcon Icon="@MatIconNames.Widgets"></MatIcon>
		<div class="nav-label">Wizzard</div>
	</MatNavItem>
	<MatNavItem OnClick="@(ev => ForceNavigation("missions"))">
		<MatIcon Icon="@MatIconNames.Slideshow"></MatIcon>
		<div class="nav-label">Missions</div>
	</MatNavItem>
	<MatNavItem OnClick="@(ev => ForceNavigation("workflows"))">
		<MatIcon Icon="@MatIconNames.Library_books"></MatIcon>
		<div class="nav-label">Workflows</div>
	</MatNavItem>
</MatNavMenu>

@code{

	private void ForceNavigation(string address = "")
	{
		var url = $"{navManager.BaseUri}{address}";
		navManager.NavigateTo(url, true);
	}

}