@model ContentStatisticsViewModel

<div class="row">
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Total Content Duration:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TotalContentDurationLabel</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Content Duration:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.ContentDurationLabel</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Total Exploited Conten:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TotalExploitingDurationLabel</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Exploiting Content:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.ExploitingDurationLabel</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Tagger Exploitation Time:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TaggerExploitationTimeLabel</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Tasks Done:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TaskDone</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Tasks Outstanding:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TaskOutstanding</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Total Exploited %:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TotalExploitedPercentageRound %</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Exploited %:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.ExploitedPercentageRound %</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Exploited Today %:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TodayExploitedPercentageRound %</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Total Tags:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TotalTags</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Tags:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.Tags</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Tags Today:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TodayTags</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Total Taggers:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TotalTaggers</h1>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Taggers:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.Taggers</h1>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-4">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Today Taggers:</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">@Model.TodayTaggers</h1>
			</div>
		</div>
	</div>
</div>