@namespace Orions.Systems.CrossModules.Components

@using Orions.Infrastructure.HyperMedia
@using Orions.Node.Common

@inherits BaseBlazorComponent<ReportVm>

<div class="widget-content-report-grid">

    @if (DataContext.Report != null && DataContext.IsLoadedReportResult)
    {
       var rowIndex = 0;

        @if (Widget.ShowTitle)
        {
            <h3>@DataContext.Report.Report.Name</h3>
        }

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        @foreach (var column in DataContext.Report.Data.ColumnsDefinitions)
                        {
                            <th scope="col">@column.Title</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var rows in DataContext.Report.Data.RowsCells)
                    {
                       var rowDef = DataContext.Report.Data.RowsDefinitions[rowIndex];
                       var rowTitle = rowDef.Title;
                       var rowDate = DataContext.ParseTimePosition(rowTitle);
                       rowIndex++;

                        <tr>
                            <td>@rowDate.ToString("dd MMM HH:mm")</td>
                            @foreach (var row in rows)
                            {
                                <td>@row.ToString()</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        @if (Widget.ShowFooter)
        {
            <div class="widget-content-report-grid-footer">
                <div class="">Created at @DataContext.Report.CreatedAtUTC</div>
            </div>
        }
    }

    @if (DataContext.Report == null && DataContext.IsLoadedReportResult)
    {
        <div class="widget-missing-report-data">
            Missing report data!
        </div>
    }

    @if (!DataContext.IsLoadedReportResult)
    {
        <div style="position:relative;">
            <div class="loading-bar"></div>
        </div>
    }

</div>

@code {

   [Parameter]
   public ReportGridWidget Widget { get; set; }

   [Parameter]
   public IHyperArgsSink HyperStore { get; set; }

   protected override async Task OnInitializedAsync()
   {
      DataContext.InitStore(HyperStore);

      if (Widget.DataSource is ReportResultWidgetDataSource ds)
      {
         await DataContext.LoadReportResultData(ds.ReportResultId);
      }

      await base.OnInitializedAsync();
   }
}

<style>
    .widget-content-report-grid {
        padding: 15px;
        overflow: hidden;
    }

        .widget-content-report-grid h3 {
            text-align: center;
        }

    .widget-content-report-grid-footer {
        font-size: 12px;
        font-style: italic;
    }
</style>
