@namespace Orions.Systems.CrossModules.Components
@inherits TagReviewComponentBase

@using  Orions.Systems.CrossModules.Components.Components;

<div class="metadatareview-component">
	@if (Vm.MetadataSetLoadFailed == false)
	{
		<div class="metadatareview-grid">
			@if (Vm.TagsAreBeingLoaded || Vm.HyperTags == null)
			{
				<span>Loading...</span>
			}
			else
			{
				<TagGrid Context="@DataContext" />
			}
		</div>

		@if (this.Vm.HyperTags != null && this.Vm.HyperTags.Value.Any())
		{
			<div class="metadatareview-page-controls">
				<ul class="pagination">

					@{
						var currentPageNumber = this.DataContext.PageNumber.Value;
						var prevPageNumber = this.DataContext.PageNumber - 1;
						var nextPageNumber = this.DataContext.PageNumber + 1;
					}
					@if (prevPageNumber > 0)
					{
						<li class="page-item"><a class="page-link" @onclick="async () => { await Vm.ChangePage(prevPageNumber.ToString()); }">@prevPageNumber</a></li>
					}
					<li class="page-item active"><a class="page-link" @onclick="async () => { await Vm.ChangePage(currentPageNumber.ToString()); }">@currentPageNumber</a></li>
					@if (nextPageNumber <= this.DataContext.TotalPages)
					{
						<li class="page-item"><a class="page-link" @onclick="async () => { await Vm.ChangePage(nextPageNumber.ToString()); }">@nextPageNumber</a></li>
					}
					@if (nextPageNumber == 2 && Vm.TotalPages > 2)
					{
						<li class="page-item"><a class="page-link" @onclick="async () => { await Vm.ChangePage(3.ToString()); }">3</a></li>
					}

				</ul>

				<div class="input-group mb-3 page-select">
					<div class="input-group-prepend">
						<label class="input-group-text" for="inputGroupSelect01">Page size</label>
					</div>
					<select class="custom-select" id="inputGroupSelect01" value="@Vm.PageSize.Value" @onchange="async (e) => await Vm.ChangePageSize(int.Parse(e.Value as string))">
						@foreach (var pageSizeOption in Vm.PageSizeOptions)
						{
							<option value="@pageSizeOption">@pageSizeOption</option>
						}
					</select>
				</div>

				<div class="go-to-page-control">
					<span>Go to page: </span>
					<input type="number" min="1" max="@Vm.TotalPages.Value" class="form-control page-number-input" value="@Vm.PageNumber.Value" @onchange="async (e) => await Vm.ChangePage(e.Value as string)" />
				</div>

				@{
					this.JsInterop.InvokeAsync<object>("Orions.TagReviewComponent.init", new object[0]);
				}

				<div class="total-pages">Total pages: @DataContext.TotalPages.Value</div>
				<div class="right-controls">
					<input type="button" class="btn btn-dark form-control" value="Heatmap" @onclick="Vm.ShowHeatmap" />
				</div>
			</div>

			@if (Vm.IsVmShowingHeatmapProp.Value)
			{
				<div class="modal fade show view-popup" tabindex="-1" role="dialog" style="display: block">
					<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-body heatmap-container">
								<OverlayLoader IsLoading="@(this.Vm.HeatmapImgProp.Value == null)">
									<img src="@Vm.HeatmapImgProp.Value" alt="Loading.." />
								</OverlayLoader>
								<div class="heatmap-conrols">
									<div class="buttons">
										<button @onclick="async () => await this.Vm.RunHeatmapPlayback()" disabled="@(this.Vm.PlaybackRunning || this.Vm.HeatmapPlaybackCache == null || this.Vm.PlaybackCacheIsBeingUpdated)" class="btn btn-dark">
											<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="play-circle" class="svg-inline--fa fa-play-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M371.7 238l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256z"></path></svg>
										</button>
										<button @onclick="this.Vm.StopHeatmapPlayback" class="btn btn-dark" disabled="@(!this.Vm.PlaybackRunning)">
											<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="stop-circle" class="svg-inline--fa fa-stop-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256zm296-80v160c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h160c8.8 0 16 7.2 16 16z"></path></svg>
										</button>

										@{
											var updateBtnHidden = Vm.PlaybackCacheIsBeingUpdated ? "hidden" : "";
											var cancelUpdateBtnHidden = !Vm.PlaybackCacheIsBeingUpdated ? "hidden" : "";
										}
										<button @onclick="this.Vm.UpdateHeatmapPlaybackCache" class="btn btn-dark @updateBtnHidden" title="Update Playback Cache">
											<svg width="22px" height="16px" viewBox="0 0 22 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
												<g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
													<g id="Outlined" transform="translate(-237.000000, -202.000000)">
														<g id="Action" transform="translate(100.000000, 100.000000)">
															<g id="Outlined-/-Action-/-cached" transform="translate(136.000000, 98.000000)">
																<g>
																	<polygon id="Path" points="0 0 24 0 24 24 0 24"></polygon>
																	<path fill="currentColor" d="M19,8 L15,12 L18,12 C18,15.31 15.31,18 12,18 C10.99,18 10.03,17.75 9.2,17.3 L7.74,18.76 C8.97,19.54 10.43,20 12,20 C16.42,20 20,16.42 20,12 L23,12 L19,8 Z M6,12 C6,8.69 8.69,6 12,6 C13.01,6 13.97,6.25 14.8,6.7 L16.26,5.24 C15.03,4.46 13.57,4 12,4 C7.58,4 4,7.58 4,12 L1,12 L5,16 L9,12 L6,12 Z" id="🔹-Icon-Color"></path>
																</g>
															</g>
														</g>
													</g>
												</g>
											</svg>
										</button>
										<button @onclick="this.Vm.CancelCacheUpdate" class="btn btn-dark @cancelUpdateBtnHidden" title="Cancel cache update">
											<svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="window-close" class="svg-inline--fa fa-window-close fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M464 32H48C21.5 32 0 53.5 0 80v352c0 26.5 21.5 48 48 48h416c26.5 0 48-21.5 48-48V80c0-26.5-21.5-48-48-48zm0 394c0 3.3-2.7 6-6 6H54c-3.3 0-6-2.7-6-6V86c0-3.3 2.7-6 6-6h404c3.3 0 6 2.7 6 6v340zM356.5 194.6L295.1 256l61.4 61.4c4.6 4.6 4.6 12.1 0 16.8l-22.3 22.3c-4.6 4.6-12.1 4.6-16.8 0L256 295.1l-61.4 61.4c-4.6 4.6-12.1 4.6-16.8 0l-22.3-22.3c-4.6-4.6-4.6-12.1 0-16.8l61.4-61.4-61.4-61.4c-4.6-4.6-4.6-12.1 0-16.8l22.3-22.3c4.6-4.6 12.1-4.6 16.8 0l61.4 61.4 61.4-61.4c4.6-4.6 12.1-4.6 16.8 0l22.3 22.3c4.7 4.6 4.7 12.1 0 16.8z"></path></svg>
										</button>
									</div>
									<DateRangeSlider MinDate="@this.Vm.FilterState.Value.HeatmapEdgeMinDate"
													 MaxDate="@this.Vm.FilterState.Value.HeatmapEdgeMaxDate"
													 CurrentMinDate="@this.Vm.FilterState.Value.HeatMapMinDate"
													 CurrentMaxDate="@this.Vm.FilterState.Value.HeatMapMaxDate"
													 DateRangeChanged="@this.Vm.HeatmapDateRangeChanged"
													 EnableChangeEvent="@(!this.Vm.PlaybackRunning)"
													 Disabled="@(this.Vm.PlaybackRunning || this.Vm.PlaybackCacheIsBeingUpdated)"
													 CssClass="heatmap-date-range-slider" />
								</div>
								<div>
									@this.Vm.HeatmapRenderingStatus @this.Vm.HeatmapRenderPerecentage
								</div>
								<div class="right-controls">
									<input type="button" class="btn btn-dark form-control" value="Close" @onclick="Vm.CloseHeatmap" />
								</div>
							</div>
						</div>
					</div>
				</div>
			}

		}
		else if (!Vm.TagsAreBeingLoaded && Vm.HyperTags != null)
		{
			<span>No data found</span>
		}
	}
	else
	{
		<span>Cannot load metadataset</span>
	}

</div>


<style>
	.metadatareview-component .metadatareview-grid {
	}

	.metadatareview-page-controls .pagination {
		margin-right: 10px;
		float: left;
	}

		.metadatareview-page-controls .pagination .page-link {
			cursor: pointer;
		}

	.metadatareview-page-controls .page-select {
		width: 155px;
		float: left;
	}

	.metadatareview-page-controls .go-to-page-control {
		float: left;
		margin-left: 20px;
	}

		.metadatareview-page-controls .go-to-page-control input {
			display: inline-block;
			width: auto;
		}

	.metadatareview-page-controls .total-pages {
		float: right;
		margin-left: 20px;
		margin-top: 8px;
	}

	.metadatareview-page-controls .right-controls {
		float: right;
	}

	.metadatareview-component .heatmap-container img {
		min-height: 400px;
		height: 100%;
		width: 100%;
		object-fit: contain;
	}

		.metadatareview-component .heatmap-container img:after {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #fff;
			font-family: 'Helvetica';
			font-weight: 300;
			line-height: 2;
			text-align: center;
			content: attr(alt);
		}

	.metadatareview-component .heatmap-container .heatmap-conrols {
		width: 100%;
	}

		.metadatareview-component .heatmap-container .heatmap-conrols .buttons {
			float: left;
			padding-top: 20px;
		    width: 110px;
		}

			.metadatareview-component .heatmap-container .heatmap-conrols .buttons button {
				padding: 0;
			}

			.metadatareview-component .heatmap-container .heatmap-conrols .buttons svg {
				width: 24px;
				height: 24px;
				margin: 2px;
				padding: 3px;
			}

		.metadatareview-component .heatmap-container .heatmap-conrols .heatmap-date-range-slider {
			float: left;
			width: calc(100% - 110px);
		}

		.metadatareview-component .heatmap-container .heatmap-conrols .heatmap-date-range-slider  .date-range-display{
			margin: 0 0 0 -120px ;
		}
</style>

